$start: left;
$end: right;

$flex-start: start;

$flex-end: end;


.men-collection .men-collection__sec-part .sec-part__background-men::after { 
    left: 0;
    
}
.women-collection .women-collection__sec-part .sec-part__background-men::after{
    right: -40px;
}