$start: right;
$end: left;

$flex-start: end;

$flex-end: start;


.men-collection .men-collection__sec-part .sec-part__background-men::after { 
    right: -40px;
    
}
.women-collection .women-collection__sec-part .sec-part__background-men::after{
    left: 0;
}
footer .subscribe .form form .form-control{
    text-align: left;
}
.translate-body .nav-bar .all .right ul{
    transform: translateX(-35px) !important;
}
.body .body__left-side .product .product-gallary .product-slider-container .slider-product .owl-nav .owl-prev{
    transform: rotate(180deg);
}
.body .body__left-side .product .product-gallary .product-slider-container .slider-product .owl-nav .owl-next{
    transform: rotate(180deg);
}
