.affiliate-acount__header {
    margin-top    : 70px;
    padding-bottom: 20px;

    // height: 181px;
    .affiliate-acount__header__avatar {
        margin-#{$end}: 30px;

        img {
            width        : 120px;
            height       : 120px;
            border-radius: 50%;
            box-shadow   : 0 0 15px 0 rgba(0, 0, 0, 0.3);
            border       : 1px solid $white;

            @media (min-width:992px) {
                width : 150px;
                height: 150px;
            }
        }
    }

    .affiliate-acount__header__content {
        h1 {
            font-size    : 18px;
            font-weight  : bold;
            color        : #333;
            font-family  : 'Open Sans', sans-serif;
            margin-bottom: 8px;

            @media (min-width:992px) {
                font-size: 26px;
            }
        }

        h4 {
            font-size  : 13px;
            font-weight: 500;
            color      : #555;
            font-family: 'Open Sans', sans-serif;

            @media (min-width:992px) {
                font-size: 16px;
            }
        }

        span {
            background-color: #0bb586;
            color           : $white;
            border-radius   : 3px;
            padding         : 5px 11px;
            margin          : 2px;
            box-sizing      : border-box;
            font-size       : 12px;
            display         : inline-block;
            font-family     : 'Open Sans', sans-serif;
        }
    }

    .affiliate-acount__header__left-side {
        .affiliate-acount__header__left-side__content {
            div {
                display: inline-block;

                span {
                    display         : block;
                    text-align      : $end;
                    margin-#{$start}: 20px;
                }

                &:nth-child(1) {
                    span {
                        &:nth-child(1) {
                            min-height     : 30px;
                            font-family    : "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size      : 16px;
                            font-weight    : 400;
                            line-height    : 1.5;
                            padding        : 0;
                            padding-#{$end}: 5px;
                            color          : #555;
                            font-family    : 'Open Sans', sans-serif;
                        }

                        &:nth-child(2) {
                            font-weight  : 700;
                            line-height  : 1.2;
                            margin-bottom: 16px;
                            color        : #555;
                            font-family  : 'Open Sans', sans-serif;
                            font-size    : 16px;

                            @media (min-width:992px) {
                                font-size: 24px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    span {
                        &:nth-child(1) {
                            min-height     : 30px;
                            font-family    : "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size      : 16px;
                            font-weight    : 400;
                            line-height    : 1.5;
                            padding        : 0;
                            padding-#{$end}: 5px;
                            color          : #555;
                            font-family    : 'Open Sans', sans-serif;
                        }

                        &:nth-child(2) {
                            font-weight  : 700;
                            line-height  : 1.2;
                            margin-bottom: 16px;
                            color        : #555;
                            font-family  : 'Open Sans', sans-serif;
                            font-size    : 16px;

                            @media (min-width:992px) {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }

        .affiliate-acount__header__left-side__footer {
            margin-top : 20px;
            position   : relative;
            font-family: 'Open Sans', sans-serif;
            font-size  : 14px;
            font-weight: 400;
            line-height: 1.5;
            background : #badfaf;
            height     : 10px;
            width      : 80%;

            @media (min-width:992px) {
                width: 50%;
            }

            &::after {
                content  : 'Until the next Rank...';
                color    : #828181;
                position : absolute;
                top      : -20px;
                #{$start}: 0;
            }
        }

    }
}