footer {
    flex: 0 0 auto;
    color: #a8a8a8;
    background-color: #252525;
    font-size: 1.3rem;
    line-height: 1.4;
    @extend %footer-top;
    .subscribe {
        padding-top: 2.9rem;
        padding-#{$end}: 2.5rem;
        padding-#{$start}: 2.5rem;

        .artical {
            padding: 0;
            h4 {
                color: #fff;
                font: 400 1rem "Oswald", sans-serif;
                /* letter-spacing: .07em; */
                text-transform: uppercase;
                // text-transform: uppercase;
                margin-bottom: 0.8rem;
                font-weight: 400;
                font-size: 1rem;
            }
            p {
                margin-bottom: 1.5rem;
                line-height: 1.5;
                max-width: 560px;
                font-size: 0.9rem;
                font-family: "Poppins", sans-serif;
            }
        }
        .form {
            display: flex;
            align-items: center;
            form {
                width: 100%;
                position: relative;

                label {
                    &.error {
                        font-size: 12px;
                    }
                }
                .form-control {
                    height: 48px;
                    font-weight: 400;
                    font-size: 14px;
                    color: #686865;
                    border: 1px solid #ffffff;
                    background-color: #ffffff;
                    padding-#{$start}: 2rem !important;
                    padding-#{$end}: 1rem !important;
                    margin-bottom: 1rem;
                    border-radius: 40px !important;
                    outline: 0;
                    font-family: "Poppins", sans-serif;
                    opacity: 0.9;
                }
                .btn {
                    height: 48px;
                    position: absolute;
                    right: -2px;
                    top: 0;
                    font-weight: 400;
                    font-size: 0.9rem;
                    font-family: "Poppins", sans-serif;
                    letter-spacing: 0.005em;
                    color: #fff;
                    background-color: #585858;
                    text-transform: uppercase;
                    border-radius: 0 40px 40px 0;

                    

                    transition: 0.3s;
                    &:hover {
                        background-color: #29363c;
                    }
                }
            }
        }
        .fonts {
            text-align: $end;
            padding-top: 20px;
            padding-#{$start}: 0px;
            padding-#{$end}: 0;
            a {
                // justify-content: flex-#{$flex-start};
                color: #fff;
                background-color: #313131;
                margin-bottom: 0;
                width: 48px;
                height: 48px;
                font-size: 1.2rem;
                display: inline-block;
                line-height: 2.5;
                text-align: center;
                transition: 0.3s;
                &:hover {
                    background-color: #29363c;
                    color: #fff;
                }
            }
        }
    }

    .contact {
        padding-top: 2.7rem;

        padding-#{$start}: 0.9rem;
        h4 {
            color: #fff;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            margin-bottom: 1.4rem;
            color: #fff;
            font-weight: 400;
            font-size: 1rem;
        }
        ul {
            list-style-type: none;
            text-transform: capitalize;
            padding: 0;
            .info {
                line-height: 1.4;

                h6 {
                    text-transform: uppercase;
                    margin-bottom: 0.2rem;
                    line-height: 1.4;
                    font-weight: 400;
                    color: #fff;
                    font-family: "poppins", sans-serif;
                    font-size: 0.9rem;
                }
                p {
                    margin-bottom: 1.5rem;
                    line-height: 1.5;
                    max-width: 560px;
                    font-size: 0.9rem;
                    font-family: "poppins", sans-serif;
                    a {
                        color: #a8a8a8;
                    }
                }
            }
        }
        .links {
            ul {
                .link {
                    a {
                        margin-bottom: 0.8rem;
                        color: #a8a8a8;
                        transition: 0.3s;
                        font-family: "poppins", sans-serif;
                        font-size: 0.8rem;
                        line-height: 1.4;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .working {
            p {
                margin-bottom: 0.8rem;
                color: #a8a8a8;
                transition: 0.3s;
                font-family: "poppins", sans-serif;
                font-size: 0.9rem;
                line-height: 1.4;
            }
        }
    }
    .sec-part {
        border-bottom: 1px solid #3d3d38;
        padding-bottom: 30px;
    }
    .footer-bottom {
        .all {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 1.7rem;
            padding-bottom: 2.1rem;
            @include min-md {
                flex-direction: row;
            }
            .link {
                margin-bottom: 1.5rem;
                line-height: 1.5;
                font-size: 0.9rem;
                text-align: center;
                @include min-md {
                    width: 50%;
                    text-align: $start;
                }
            }
            .img {
                text-align: center;
                img {
                    opacity: 0.4;
                }
                @include min-md {
                    width: 50%;
                    text-align: $end;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .subscribe {
        padding-#{$start}: 1.5rem !important;
        padding-#{$end}: 1.5rem !important;
        .fonts {
            text-align: $start !important;
        }
        input.form-control {
            width: 100% !important;
            /* padding: 0; */
            padding-#{$start}: 10px !important;
            font-size: 0.9rem !important;
        }
        input.btn {
            top: 0 !important;
        }
    }
    .contact {
        padding-#{$end}: 1.5rem !important;
        padding-#{$start}: 0.8rem !important;

        .col-lg-3 {
            padding: 0 !important;
            .contact-info {
                h4 {
                    margin-bottom: 0.7rem !important;
                }
                .info {
                    h6 {
                        margin: 0 !important;
                    }
                }
            }
        }
        .col-lg-4 {
            padding: 0 !important;
            .main-acc {
                h4 {
                    padding: 0 !important;
                    margin-bottom: 0.7rem !important;
                }
                .links {
                    ul {
                        margin: 0 !important;
                    }
                }
            }
        }
        .main-feature {
            h4 {
                margin-bottom: 0.7rem !important;
                margin-top: 0.7rem !important;
            }
            .links {
                ul {
                    margin: 0 !important;
                }
            }
        }
        .working {
            margin-top: 0.7rem;
            h4 {
                margin-bottom: 0.5rem;
            }
        }
    }
}
