.translate-body {
    position: relative;
    overflow: hidden;

    .layout {
        width     : 100%;
        height    : 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index   : 3;
        position  : absolute;
        display   : none;
    }

    .nav-bar {
        z-index: 2;
        width  : 100%;
        display: flex;
        padding: 20px 0;
        background: #333;
        .navbar-container {
            display: flex;
            position: relative;
            .nav-bar__left {
                display: flex;
                width  : 40%;
                .nav-bar__left__menu {
                    display          : flex;
                    // padding-#{$start}: 10px;
                    flex-wrap        : wrap;
                    align-items      : center;

                    .nav-bar__left__menu__list {
                        position: relative;
                        margin-#{$end}: 20px;
                        @include max-md {
                            display: none;
                        }
                        .nav-bar__left__menu__list__links {
                            color           : $white;
                            font-weight     : 600;
                            letter-spacing  : .025rem;
                            font-size       : 13px;
                            text-transform  : uppercase;
                            font-family: 'Poppins';
                            padding-top: 17px;
                            padding-bottom: 17px;
                            position: relative;
                            &.active {
                                color: #65829d;
                            }
                            &:hover {
                                color: #65829d;
                            }
                            &.has-menu {
                                padding-#{$end}: 17px;
                                &::after {
                                    content: '\e81c';
                                    position: absolute;
                                    top: 50%;
                                    #{$end}: 0;
                                    font-family: 'porto';
                                    font-size: 13px;
                                    line-height: 1;
                                    transform: translateY(-50%);
                                }
                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    bottom: -5px;
                                    #{$end}: calc(50% + 5px);
                                    width: 12px;
                                    height: 12px;
                                    transform: rotate(45deg);
                                    border-top: 1px solid #efeeee;
                                    border-#{$end}: 1px solid #efeeee;
                                    background-color: $white;
                                    z-index: 100;
                                    visibility: hidden;
                                    opacity: 0;
                                }
                            }

                        }
                        .nav-bar__left__menu__list__hidden {
                            position: absolute;
                            top: 100%;
                            font-family: "Poppins",sans-serif;
                            z-index: 999;
                            opacity: 0;
                            visibility: hidden;
                            padding-top: 16px;
                            div {
                                background: $white;
                                border: 1px solid #efeeee;
                                box-shadow: 0 29px 29px rgba(0,0,0,0.1);
                                .first-level {
                                    padding: 10px 0;
                                    li {
                                        
                                        position: relative;
                                        a {
                                            position: relative;
                                            display: block;
                                            min-width: 240px;
                                            padding: 11px 10px 7px;
                                            margin: 0 10px;
                                            color: #696969;
                                            font-size: 12px;
                                            font-weight: 500;
                                            text-transform: uppercase;
                                            white-space: nowrap;
                                            &:hover {
                                                background-color: #f4f4f4;
                                            }
                                        }
                                        &.sec-level {
                                            &::after {
                                                content: '\e81a';
                                                position: absolute;
                                                top: 50%;
                                                #{$end}: 20px;
                                                transform: translateY(-50%);
                                                font-family: 'porto';
                                                font-size: 13px;
                                                line-height: 1;
                                                color: #696969;
                                                @if $start == right {
                                                    transform: rotate(180deg);
                                                }
                                            }
                                            & > ul {
                                                opacity: 0;
                                                visibility: hidden;
                                                padding: 10px 0;
                                                background: $white;
                                                border: 1px solid #efeeee;
                                                box-shadow: 0 29px 29px rgba(0,0,0,0.1);
                                                position: absolute;
                                                top: 0;
                                                #{$start}: 100%;
                                                display: block;
                                                li {
                                                    a {
                                                        position: relative;
                                                        display: block;
                                                        min-width: 240px;
                                                        padding: 11px 10px 7px;
                                                        color: #696969;
                                                        font-size: 12px;
                                                        font-weight: 500;
                                                        text-transform: uppercase;
                                                        white-space: nowrap;
                                                        &:hover {
                                                            background-color: #f4f4f4;
                                                        }
                                                    }
                                                }
                                            }

                                            &:hover {
                                                & > ul {
                                                    opacity: 1;
                                                    visibility: visible;
                                                }
                                                
                                            }
                                        }
                                    }

                                    
                                }
                            }
                        }
                        &:hover {
                            .nav-bar__left__menu__list__hidden {
                                opacity: 1;
                                visibility: visible;
                            }

                            .nav-bar__left__menu__list__links {
                                &::before {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .nav-bar__left__menu__hidden-icon {
                        cursor : pointer;
                        color  : $white;
                        svg {
                            color     : $white;
                            font-size : 21px;
                        }
                        @include min-md {
                            display: none;
                        }
                    }
                    
                }
            }

            .navbar__logo {
                width          : 20%;
                display        : flex;
                align-items    : center;
                justify-content: center;
                img {
                    height: 57px;
                    @include max-sm {
                        
                        width: 90px;
                        height: 100%;
                    }
                }
            }

            .navbar__right {
                width          : 40%;
                display        : flex;
                justify-content: flex-end;
                padding-#{$end}: 5px;
                
                @include min-sm {
                    padding-#{$end}: 11px;
                }
                .nav-bar__right__menu {
                    display        : flex;
                    flex-wrap      : wrap;
                    align-items    : center;
                    

                    .right__search {
                        position: relative;
                        color   : $white;
                        cursor  : pointer;
                        font-size: 13px;
                        margin-#{$end}: 10px;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -27px;
                            #{$end}: 0;
                            width: 12px;
                            height: 12px;
                            transform: rotate(45deg);
                            border-top: 1px solid #efeeee;
                            border-#{$end}: 1px solid #efeeee;
                            background-color: $white;
                            z-index: 100;
                            visibility: hidden;
                            opacity: 0;
                        }

                        @include min-sm {
                            margin-#{$end}: 15px;
                        }
                        .child.sec-level-search {
                            position  : absolute;
                            top       : 40px;
                            #{$end}   : -30px;
                            width     : 240px;
                            border    : 5px solid #dbe0e2;
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075);
                            opacity   : 0;
                            visibility: hidden;
                            z-index: 555;
                            @include min-md {
                                width: 475px;
                                #{$end}   : -80px;
                            }
                            form {
                                display: flex;

                                input {
                                    outline          : none;
                                    border-style     : none;
                                    width            : 80%;
                                    font-size        : 14px;
                                    padding-#{$start}: 15px;
                                    color            : #8d8d8d;
                                    border-#{$end}   : 1px solid #dbe0e2;
                                    padding-#{$end}  : 15px;
                                    border-radius: 0 !important;
                                    @include min-md {
                                        width        : 60%;
                                    }
                                }

                                .form__category {
                                    border-style     : none;
                                    background       : $white !important;
                                    width            : 35%;
                                    padding-top      : 5px;
                                    padding-#{$start}: 5px;
                                    color            : #8d8d8d;
                                    border-#{$end}   : 1px solid #dbe0e2;
                                    display: none;
                                    @include min-md {
                                        display: block;
                                    }
                                    select {
                                        border-style: none;
                                        font-size   : 13px;
                                        outline     : none;
                                        color       : #8d8d8d;
                                        width       : 100%;
                                    }
                                }

                                .btn {
                                    background   : $white;
                                    width        : 20%;
                                    border-radius: 0;
                                    color        : #606669;
                                    font-size    : 14px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    @include min-md {
                                        width        : 10%;
                                    }
                                }

                            }
                        }

                    }
                    
                    .nav-bar__right__menu__links {
                        margin-#{$end}: 35px;
                        @media (max-width: 768px) {
                            display: none !important;
                        }
                        .nav-bar__right__menu__links__main {
                            display: flex;
                            align-items: center;
                            .nav-bar__right__menu__links__main__lists {
                                margin-#{$start}: 25px;
                                position: relative;
                                .nav-bar__right__menu__links__main__lists__link {
                                    padding-#{$end}: 14px;
                                    color: $white;
                                    font-size: 13PX;
                                    font-weight: 600;
                                    letter-spacing: .025rem;
                                    text-transform: uppercase;
                                    font-family: inherit;
                                    
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        #{$end}: 0;
                                        
                                        border-style: solid;
                                        border-width: 4px 3px 0 3px;
                                        border-color: $white transparent transparent transparent;
                                    }
                                    &~div {
                                        position: absolute;
                                        #{$start}: 0;
                                        top: 100%;
                                        z-index: 99;
                                        box-shadow: 0 0 2px rgba(0,0,0,0.1);
                                        background: $white;
                                        padding-top: 4px;
                                        padding-bottom: 4px;
                                        border: 1px solid #ccc;
                                        min-width: 100%;
                                        font-family: "Poppins",sans-serif;
                                        opacity: 0;
                                        visibility: hidden;
                                        ul {
                                            li {
                                                
                                                a {
                                                    font-weight: 400;
                                                    color: #696969;
                                                    display: flex;
                                                    align-items: center;
                                                    padding: 7px 9px;
                                                    white-space: nowrap;
                                                    text-transform: uppercase;
                                                    font-family: "Poppins",sans-serif;
                                                    font-size: 11px;
                                                    &:hover{
                                                        background-color: #ccc;
                                                        color: $white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    &>div {
                                        opacity: 1;
                                            visibility: visible;
                                    }
                                }
                            }
                        }
                    }

                    .nav-bar__right__menu__phone {
                        position: relative;
                        color: $white;
                        letter-spacing: 0;
                        font-size: 16px;
                        line-height: 1.4;
                        font-weight: 500;
                        padding-#{$end}: 30px;
                        margin-#{$end}: 15px;
                        display: none;
                        @include min-xl {
                            display: block !important;
                        }
                        a {
                            font-size: 14px;
                            line-height: 1.4;
                            font-weight: 800;
                            color: inherit;
                            &:hover {
                                color: #000;
                                transition: .5s;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            #{$end}: 0;
                            top: 50%;
                            display: block;
                            width: 1px;
                            height: 33px;
                            margin-top: -16.5px;
                            background: #d1deea;
                            opacity: .5;
                        }
                    }

                    .nav-bar__right__menu__bag-product {
                        position: relative;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -20px;
                            #{$end}: 50%;
                            width: 12px;
                            height: 12px;
                            transform: rotate(45deg);
                            border-top: 1px solid #efeeee;
                            border-#{$end}: 1px solid #efeeee;
                            background-color: $white;
                            visibility: hidden;
                            opacity: 0;
                        }

                        .nav-bar__right__menu__bag-product__btn {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            padding-#{$end}: 15px;
                            @include min-sm {
                                padding-#{$end}: 25px;
                            }
                            &::after {
                                content: '\e87f';
                                font-family: 'porto';
                                font-size: 23px;
                                line-height: 1;
                                margin: 2px 0 0;
                                margin-top:2px;
                                color: $white;
                            }
                            &::before {
                                content: '\e81c';
                                font-family: 'porto';
                                font-size: 16px;
                                position: absolute;
                                #{$end}: 0;
                                top: 5px;
                                width: auto;
                                color: $white;
                            }
                            span {
                                position: absolute;
                                top: -3px;
                                #{$start}: 22px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                font-size: 10px;
                                font-weight: 600;
                                color: $white;
                                background-color: #ed7e63;
                                width: 16px;
                                height: 16px;
                                line-height: 18px;
                            }
                        }
                        .nav-bar__right__menu__bag-product__content {
                            visibility: hidden;
                            opacity: 0;
                            
                            position: absolute;
                            top: 100%;
                            #{$end}: 0;
                            z-index: 55;
                            padding-top: 14px;
                            width: 280px;
                            
                            @include min-sm {
                                width: 300px;
                            }

                            .hidden-menu-bag {
                                padding: 16px 19px;
                                border: 1px solid #f0f0f0;
                                border-radius: 0;
                                background-color: $white;
                                box-shadow: 0 29px 28px rgba(0,0,0,0.1);
                                
                            }
                            .nav-bar__right__menu__bag-product__content__head {
                                display: flex;
                                justify-content: space-between;
                                font-family: 'Open Sans',arial,serif;
                                padding: 3px 0;
                                border-bottom: solid 1px #e6ebee;
                                span {
                                    color: #696969;
                                    font-size: 13px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    line-height: 35px;
                                }
                                a {
                                    color: #696969;
                                    font-size: 12px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    line-height: 35px;
                                }
                            }
                            .nav-bar__right__menu__bag-product__content__product__empty {
                                padding-top:20px;
                                color: #696969;
                                font-size: 12px;
                                font-weight: 100;
                                text-transform: uppercase;
                            }
                            .nav-bar__right__menu__bag-product__content__product {
                                padding: 16px 0;
                                overflow-x: hidden;
                                overflow-y: auto;
                                max-height: 209px;

                                
                                .nav-bar__right__menu__bag-product__content__product--container {
                                    padding: 16px 10px;
                                    border-bottom: 1px solid #e6ebee;
                                }
                                .nav-bar__right__menu__bag-product__content__product__left {
                                    div {
                                        a {
                                            color: #65829d;
                                            font-weight: 400;
                                            font-size: 13px;
                                        }
                                        span {
                                            font-weight: 400;
                                            font-size: 13px;
                                            color: #696969;
                                        }  
                                    }
                                }
                                .nav-bar__right__menu__bag-product__content__product__right {
                                    position: relative;
                                    a {
                                        border: 1px solid #ededed;
                                        img {
                                            width:78px;
                                            height: 65px;
                                            object-fit: cover;
                                        }
                                    }
                                    .nav-bar__right__menu__bag-product__content__product__right__delete {
                                        position: absolute;
                                        top: -6px;
                                        z-index: 55;
                                        #{$end}: 6px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        background-color: $white;
                                        color: #474747;
                                        font-size: 11px;
                                        cursor: pointer;
                                        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                                        border: 1px solid #eee;
                                        &::after {
                                            content: '\e800';
                                            display: inline-block;
                                            font-family: 'porto';
                                        }

                                    }
                                }
                            }

                            .nav-bar__right__menu__bag-product__content__footer {
                                .nav-bar__right__menu__bag-product__content__footer__info {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 11px;
                                    padding: 7px 10px;
                                    color: #474747;
                                    font-size: 13px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                                .nav-bar__right__menu__bag-product__content__footer__btns {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 11px;
                                    a, button {
                                        cursor: pointer;
                                        min-width: 110px;
                                        padding: 12px 10px;
                                        background-color: #141a1f;
                                        color: #fff;
                                        font-size: 12px;
                                        font-weight: 400;
                                        letter-spacing: .025rem;
                                        text-transform: uppercase;
                                        text-align: center;
                                        font-family: "Oswald",sans-serif;
                                        &:hover {
                                            background-color: #2e2e2e;
                                        }
                                    }
                                }
                            }
                        }

                        @include min-md {
                            &:hover {
                                &::after {
                                    opacity: 0 !important;
                                    visibility: hidden !important;
                                }
                                .nav-bar__right__menu__bag-product__content {
                                    opacity: 1 !important;
                                    visibility: visible !important;
                                }
                            }
                        }
                    }
                    
                }

            }
        }
        &.sticky{
            position: fixed !important;
            top: 0;
            #{$end}: 0;
            #{$start}: 0;
            background-color: #555 !important;
            z-index: 1040;
            color: $white;
            padding-top: 7px !important;
            padding-bottom: 7px !important;
            transition: 0.3s !important;
            animation: fixedheader 0.3s 1;
            .navbar__logo {
                a {
                    @include max-sm {
                        height: 35px;
                        width: 90px;
                    }
                    img {
                        @include max-sm {
                            height:100%;
                            width:100%;
                        }
                        @include min-sm {
                            height: 35px;
                        }
                    }
                }
            }
        
            .nav-bar__left__menu__list__links {
                padding-top: 5px !important;
                padding-bottom: 2px !important;
                
                &::before {
                    bottom: -20px !important;
                }
            }
        
        }
    }


}