.main-sidebar {
    background: $black !important;
    position  : fixed;
    top       : 0;
    #{$start} : -300px;
    width     : 250px;
    overflow-y: auto;
    transition: 0.3s;
    height    : 100%;
    z-index   : 1089;

    .main-sidebar__close {
        position     : relative;
        border-bottom: 1px solid $gray-black;
        width        : 100%;
        text-align   : $end;
        padding      : 15px 10px;
        cursor       : pointer;

        svg {
            color: $white;
        }
    }

    .card-body {
        border: none !important;
    }

    ul.elements {
        li {
            border-bottom : 1px solid $gray-black;
            padding-top   : 6px;
            padding-bottom: 6px;
            position      : relative;

            a {
                text-transform  : uppercase;
                color           : $white;
                margin-#{$start}: 15px;
                font-size       : 12px;
                font-family     : "poppins", sans-serif;
                font-weight     : 500;
            }

            .body {
                background: none !important;

                .sec-level {
                    li {
                        a {
                            margin-#{$start}: 25px;
                            font-size       : 11px;
                            text-transform  : capitalize;
                        }
                    }

                    li:nth-child(1) {
                        border-top: 1px solid $gray-black;

                    }

                    li:nth-child(10) {
                        span {
                            background-color: #0fc567;
                            position        : absolute;
                            #{$start}       : 160px;
                            top             : 9px;
                            padding         : 2px 5px;
                            font-size       : 10px;
                            color           : $white;
                            text-transform  : uppercase;

                            &::after {
                                content         : '';
                                position        : absolute;
                                top             : 0px;
                                /* width        : 0; */
                                #{$start}       : -4px;
                                border-#{$start}: 6px solid transparent;
                                border-#{$end}  : 6px solid transparent;
                                border-bottom   : 15px solid #0fc567;
                                transform       : rotate3d(1, 1, 1, 45deg);
                            }
                        }
                    }
                }

                .third-level {
                    li:nth-child(2) {
                        span {
                            background-color: #eb2771;
                            position        : absolute;
                            #{$start}       : 158px;
                            top             : 12px;
                            padding         : 0px 5px;
                            font-size       : 10px;
                            color           : $white;
                            text-transform  : uppercase;

                            &::after {
                                content         : '';
                                position        : absolute;
                                top             : -2px;
                                /* width        : 0; */
                                #{$start}       : -5px;
                                border-#{$start}: 6px solid transparent;
                                border-#{$end}  : 6px solid transparent;
                                border-bottom   : 15px solid #eb2771;
                                transform       : rotate3d(1, 1, 1, 45deg);
                            }
                        }
                    }

                    li:nth-child(5) {
                        span {
                            background-color: #eb2771;
                            position        : absolute;
                            #{$start}       : 158px;
                            top             : 12px;
                            padding         : 0px 5px;
                            font-size       : 10px;
                            color           : $white;
                            text-transform  : uppercase;

                            &::after {
                                content         : '';
                                position        : absolute;
                                top             : -2px;
                                #{$start}       : -5px;
                                border-#{$start}: 6px solid transparent;
                                border-#{$end}  : 6px solid transparent;
                                border-bottom   : 15px solid #eb2771;
                                transform       : rotate3d(1, 1, 1, 45deg);
                            }
                        }
                    }

                    li:nth-child(6) {
                        span {
                            background-color: #eb2771;
                            position        : absolute;
                            #{$start}       : 158px;
                            top             : 12px;
                            padding         : 0px 5px;
                            font-size       : 10px;
                            color           : $white;
                            text-transform  : uppercase;

                            &::after {
                                content         : '';
                                position        : absolute;
                                top             : -2px;
                                /* width        : 0; */
                                #{$start}       : -5px;
                                border-#{$start}: 6px solid transparent;
                                border-#{$end}  : 6px solid transparent;
                                border-bottom   : 15px solid #eb2771;
                                transform       : rotate3d(1, 1, 1, 45deg);
                            }
                        }
                    }

                    li {
                        a {
                            margin-#{$start}: 35px;
                            text-transform  : capitalize;
                        }
                    }
                }
            }
        }

        li:nth-child(4) {
            a {
                span:nth-child(2) {
                    background-color: #eb2771;
                    position        : absolute;
                    #{$start}       : 80px;
                    top             : 12px;
                    padding         : 0px 5px;
                    font-size       : 10px;
                    color           : $white;
                    text-transform  : uppercase;

                    &::after {
                        content         : '';
                        position        : absolute;
                        top             : -2px;
                        /* width        : 0; */
                        #{$start}       : -5px;
                        border-#{$start}: 6px solid transparent;
                        border-#{$end}  : 6px solid transparent;
                        border-bottom   : 15px solid #eb2771;
                        transform       : rotate3d(1, 1, 1, 45deg);
                    }

                }
            }
        }

        li:nth-child(7) {
            a {
                span:nth-child(1) {
                    background-color: #eb2771;
                    position        : absolute;
                    #{$start}       : 120px;
                    top             : 12px;
                    padding         : 0px 5px;
                    font-size       : 10px;
                    color           : $white;
                    text-transform  : uppercase;

                    &::after {
                        content         : '';
                        position        : absolute;
                        top             : -2px;
                        /* width        : 0; */
                        #{$start}       : -5px;
                        border-#{$start}: 6px solid transparent;
                        border-#{$end}  : 6px solid transparent;
                        border-bottom   : 15px solid #eb2771;
                        transform       : rotate3d(1, 1, 1, 45deg);
                    }
                }
            }
        }

        .elements {
            .link {
                display        : flex;
                justify-content: space-between;
                padding-top        : 0;
                padding-#{$end}: 15px;
                padding-bottom : 4px;
                padding-top    : 4px;

                &:not(.collapsed) {
                    color: #65829d;

                    .fa-angle-down {
                        transform: rotate(180deg);
                        color    : #65829d;
                    }
                }
            }

        }

    }
}
