.breadcrumb-nav {
    .breadcrumb {
        font-family: Open Sans, arial, serif;
        font-weight: 400;
        font-size: 13px;
        margin: 0;
        background: transparent;
        padding-#{$start}: 0;
        .breadcrumb-item {
            img {
                width: 14px;
                height: 14px;
            }
            &::before {
                content : ' ';
            }
            &::after {
                content: "\276F";
                padding-top: 0;
                padding-#{$start}: 13px;
                padding-bottom: 0;
                padding-#{$end}: 5px;
                font-weight: thin;
                font-size: 10px;

                font-family: porto;
                font-style: normal;
                font-weight: 400;
            }
            &.active {
                color :#000 !important;
                padding-#{$start}: 0;
                &::after {
                    content: '';
                }
            }
        }
        a {
            line-height: 5px;
            font-weight: 400;
            vertical-align: middle;
            color: #000;
            font-family: Open Sans, arial, serif;
        }
    }
}