.general-sidebar__responsive-btn {
    transition: .5s;
    width: 40px;
    height: 40px;
    position: fixed;
    #{$start}: 0;
    z-index: 1050;
    background: $white;
    border: 1px solid #ddd;
    top: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    @media (min-width : 992px) {
        display: none;
    }
}
.general-sidebar__overlay {
    position: fixed;
    top:0;
    #{$start}:0;
    bottom: 0;
    #{$end}: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1050;
    @media (min-width: 992px) {
        display: none;
    }
}

.general-sidebar__left {
    transition: .5s;
    width: 280px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 1050;
    top: 0;
    #{$start}: -280px;
    margin-#{$end}: 25px;
    border: 1px solid #efefef;
    background: $white;
    @media(min-width: 992px) {
        position: static;
        background: transparent;
        transform: translateX(0);
        z-index: 50;
    }


    
    .sidebar-link {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease;
        align-items: center;
        padding-top: 20px;
        padding-#{$end}: 25px;
        padding-bottom: 0;
        padding-#{$start}: 20px;
        span {
            color: #21293c;
            font-size: 15px;
            font-weight: 600;
            font-family: 'Open Sans',arial,serif;
            letter-spacing: .01em;
            text-transform: uppercase;
        }
        .clear {
            margin-#{$end}: 5px;
            font-size: 11px;
            letter-spacing: 0;
            line-height: 5px;
            text-transform: none;
            color: #7aa93c;
            text-transform: capitalize;
        }
        img {
            transform: rotate(180deg);
            width: 8px;
            height: 8px;
        }

        &.collapsed {
            img {
                transform: rotate(0);
            }
        }

        
    }

    .link-submenu {
        border-bottom: 1px solid #ddd;
    }

    .sidebar-link-lv1 {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease;
        align-items: center;
        padding-top: 0;
        padding-#{$end}: 25px;
        padding-bottom: 0;
        padding-#{$start}: 20px;

        
        span {
            color: #4a505e;
            font-size: 13px;
            letter-spacing: .01em;
            line-height: 33px;
            &:hover {
                text-decoration: underline;
            }
        }
        .fa-plus {
            display: none;
            width: 10px;
            height: 10px;
            color: #21293c;
        }
        .fa-minus {
            display: block;
            color: #21293c;
            width: 10px;
            height: 10px;
        }
        &.collapsed {
            .fa-plus {
                display: block;
            }
            .fa-minus {
                display: none;
            }
        }
    }
    .link-submenu-lv1 {
        position: relative;
        padding-top: 0;
        padding-#{$end}: 20px;
        padding-bottom: 0;
        padding-#{$start}: 35px;
        li {
            position: relative;
        }
        .cat-links {
            display: inline;
            .label-categories {
                font-size: 12px;
                cursor: pointer;
                &::after{
                    content: '';
                    position: absolute;
                    #{$end}: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #ddd;
                }

                &::before {
                    content: '\e84e';
                    font-family: 'porto';
                    position: absolute;
                    #{$end}: 27px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    visibility: hidden;
                    color: $white;
                    font-size: 8px;
                    z-index: 1;
                }
                & ~ input {
                    opacity: 0;
                    visibility: hidden;
                    appearance: none;
                }
            }
    
            
        }
        .count-cat {
            background: #7AA93C;
            color: $white;
            padding: 0 6px;
            font-size: 10px;
            display: inline;
            vertical-align: middle;
        }

    }



    .general-sidebar__left__feature {
        padding-#{$start}: 20px;
        padding-#{$end}: 25px;
        .general-sidebar__left__feature__head {
            padding-bottom: 20px;
            h1 {
                font-size: 18px;
                font-weight: 600;
                
            }
            .general-sidebar__left__feature__head__next {
                cursor: pointer;
                &::after{
                    content: '\e81a';
                    font-family: 'porto';
                }
                @if $start == right {
                    transform: rotate(180deg);
                }
            }
            .general-sidebar__left__feature__head__previous {
                cursor: pointer;
                &::before {
                    content: '\e819';
                    font-family: 'porto';
                }
                @if $start == right {
                    transform: rotate(180deg);
                }
            }
        }
        .general-sidebar__left__feature__content {
            .general-sidebar__left__feature__content__main {
                display: none;
                padding: 10px 0;
                .general-sidebar__left__feature__content__main__left {
                    div {
                        width: 75px;
                        height: 75px;
                        border: 1px solid #ddd;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .general-sidebar__left__feature__content__main__right {
                    .head {
                        font-size: 14px;
                        color: #2b2b2d;
                    }
                    .star {
                        svg {
                            font-size: 11px;
                            color: rgba(0,0,0,0.16);
                        }
                    }
                    .price {
                        span {
                            display: block;
                            color: #2b2b2d;
                            font-family: 'Oswald';
                            font-size: 18px;
                            font-weight: 400;
                            letter-spacing: .005em;
                        }
                    }
                }
            }
        }
    }

    .general-sidebar__left__custom {
        border-top: 1px solid #ddd;
        padding-#{$start}: 7%;
        padding-top: 20px;
        h1 {
            margin-bottom: 15px;
            letter-spacing: .01em;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            color: #000;
            line-height: 1;
            margin-top: 0;
        }
        h4, p {
            color: #7a7d82;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .022em;
            margin-bottom: 13px;
        }
        p {
            line-height: 1.4;
            padding-#{$end}: 15px;
        }
    }

}



.general-sidebar__left__price {
    .general-sidebar__left__price__container {
        padding-top: 1rem;
        padding-#{$end}: 0;
        padding-bottom: 20px;
        padding-#{$start}: 20px;

        @if $start == right {
            padding-#{$end}: 20px;
            padding-#{$start}: 0;
        }

    }

    .max-price-select {
        position: relative;
        button {
            cursor: pointer;
            position: absolute;
            #{$end}: 2px;
            top: 50%;
            transform: translateY(-50%);
            color: #c1bfbf
        }
    }
    form {
        padding-top: 1rem;
        padding-#{$end}: 0;
        padding-bottom: 20px;
        padding-#{$start}: 20px;
    }
    label {
        user-select: none;
        cursor: pointer;
        padding-#{$start}: 25px;
        padding-top: 2px;
        position: relative;
        font-size: 14px;
        color: #465157;
        .fa-check {
            color:#777;
            font-size: 15px;
            position: absolute;
            #{$start}: 2px;
            top: 3px;
        }
        &::after {
            content: '';
            font-size: 14px;
            border-radius: 2px;
            position: absolute;
            #{$start}:0;
            top:6px;
            display: block;
            width: 13px;
            height: 13px;
            line-height: 13px;
            border:1px solid #777;
        }
    }
    input[type="checkbox"] {
        appearance: none;
    }
}
.general-sidebar__left__colors {
    .general-sidebar__left__colors__space {
        margin-top: 0;
        margin-#{$end}: 5px;
        margin-bottom: 0;
        margin-#{$start}: 0;
    }

    .general-sidebar__left__color__content {
        padding-#{$end}: 20px;
    }
    form {
        padding-top: 1rem;
        padding-#{$end}: 0;
        padding-bottom: 0;
        padding-#{$start}: 20px;

        label.label-color {
            position: relative;
            box-shadow: 0 0 10px rgba(0,0,0,0.13);
            cursor: pointer;
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            .check-true {
                color: $white;
                font-size: 12px;
            }
            .label-check {
                color: $white;
                font-size: 12px;
                position: absolute;
                text-align: center;
                opacity: 0;
            }
        }
        input[type="checkbox"] {
            appearance: none;
        }
    }
}


.general-sidebar__left__size {
    .general-sidebar__left__size__space {
        margin-top: 5px;
        margin-#{$end}: 5px;
        margin-bottom: 5px;
        margin-#{$start}: 0;
    }
    form {

        padding-top: 1rem;
        padding-#{$end}: 0;
        padding-bottom: 20px;
        padding-#{$start}: 20px;

        label {
            text-transform: uppercase;
            cursor: pointer;
            width: 32px;
            height: 25px;
            text-align: center;
            color: #6b7478;
            border: 1px solid #e9e9e9;
            border-radius: 1px;
            font-size: 11px;
            line-height: 23px;
            @include min-sm {
                &:hover {
                    background: #7AA93C;
                    color :$white;
                }
            }
        }
        input {
            appearance: none;
            opacity: 0;
            visibility: hidden;
        }
    }
}