.top-bar {
    background: #607D8B;
    display: flex;
    flex-wrap: wrap;
    .top-bar__main-link {
        @media (max-width: 993px) {
            width: 50%;
        }
        position: relative;
        padding: 14px 25px;
        color:$white;
        border-right: 1px solid #738E9A;
        border-bottom: 1px solid #738E9A;
        font-size: 14px;
        text-transform: capitalize;
        svg {
            margin-right: 5px;
        }
        &:hover {
            background: #47565D;
            svg.fa-angle-right {
                transform: rotate(90deg);
            }
            .top-bar__main-link-hidden-menu {
                top:49px;
                transition: .5s;
                visibility: visible;
                opacity: 1;
            }
        }
        

        .top-bar__main-link-hidden-menu {
            position: absolute;
            top: 80px;
            left: 0;
            transition: .5s;
            z-index: 55;
            background: #607D8B;
            display: block;
            width: 200px;
            visibility: hidden;
            opacity: 0;
            li {
                display: block;
                width: 200px;
                padding: 21px 20px;
                border-bottom: 1px solid #ddd;
            }
        }
    }
}