// Mixin For Font Face
@mixin font-face($font-name, $file-name, $weight: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
        url($file-name + '.woff') format('woff'),
        url($file-name + '.ttf') format('truetype'),
        url($file-name + '.svg##{$font-name}') format('svg');
        font-weight: $weight;
    }
}

// All Media Query Mixins

@mixin min-mob {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin min-sm {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin min-md {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin min-lg {
    @media (min-width: 1024) {
        @content;
    }
}
@mixin min-xl {
    @media (min-width: 1199px) {
        @content;
    }
}





@mixin max-sm {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max-md {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin max-lg {
    @media (max-width: 1023) {
        @content;
    }
}
@mixin max-xl {
    @media (max-width: 1198px) {
        @content;
    }
}


// Padding Mixin

@mixin padding($width: (null), $top: null, $right: null, $bottom: null, $left: null, $media: null) {
    @if $media {
        @media #{$media} {
            @if $width !=null {
                padding: $width;
            }

            @else {
                padding-top: $top;
                padding-#{$end}: $right;
                padding-bottom: $bottom;
                padding-#{$start}: $left;
            }
        }
    }

    @else {
        @if $width !=null {
            padding: $width;
        }

        @else {
            padding-top: $top;
            padding-#{$end}: $right;
            padding-bottom: $bottom;
            padding-#{$start}: $left;
        }
    }
}

// Margin Mixin

@mixin margin($width: (null), $top: null, $right: null, $bottom: null, $left: null, $media: null) {
    @if $media {
        @media #{$media} {

            @if $width !=null {
                margin: $width;
            }

            @else {
                margin-top: $top;
                margin-#{$end}: $right;
                margin-bottom: $bottom;
                margin-#{$start}: $left;
            }
        }
    }

    @else {

        @if $width !=null {
            margin: $width;
        }

        @else {
            margin-top: $top;
            margin-#{$end}: $right;
            margin-bottom: $bottom;
            margin-#{$start}: $left;
        }
    }
}
