.reverse-content {
    & > div {
        &:nth-child(even) {
            @media (min-width: 768px) {
                order: 1;
            }
        }
        &:nth-child(odd) {
            @media (min-width: 768px) {
                order: 2;
            }
        }
    }
}

.review-star {
    opacity: 1 !important;
}


.opacity-ajax {
    opacity: .5;
    user-select: none;
    pointer-events: none;
}
.option-owsard {
    font-family: 'option';
}
.option-poppians{
    font-family: 'poppians';
    font-weight: 500;
}
.description-hidden{
    display: none;
}
.tags-show{
    display: block !important;
}
.table-show{
    display: block !important;
}
.size-show{
    display: block !important;
}
.desc-after{
    &::after{
           position: absolute !important;
           content: '' !important;
           width: 85px !important;
           height: 2px !important;
           background: #000 !important;
           bottom: -2px !important;
           
       }
   
}
.tags-after{
    &::after{
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        background: #000;
        bottom: -2px;
        #{$start}: 45px;

    }
}
.rview-after{
    &::after{
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        background: #000;
        bottom: -2px;
        #{$start}: 45px;

    }
}
.slidebar-left-show{
    #{$start}: 0 !important;
}
.set-size {
    background : #7AA93C;
    color :$white !important;
}

.set-cat {
    &::after {
        background : #7AA93C;
        border: 1px solid #7AA93C !important;
    }
    &::before {
        opacity: 1 !important;
        visibility: visible !important;
    }
}
.opacity-one {
    opacity: 1 !important;
}

.opacity-half {
    opacity: .5 !important;
    pointer-events: none;
}

.border-red {
    border: 1px solid #f00;
}

.head-link {
    padding-top: 25px;
    padding-#{$end}: 20px;
    padding-bottom: 0;
    padding-#{$start}: 20px;
    color: #21293c;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .01em;
    text-transform: uppercase;
}


.angle-rotate {
    transform: rotate(180deg);
}

.delete-plus {
    &::after {
        display: none;
    }
}

.fashion__sidebar-show{
    transform: translateX(0px) !important;
}

.responsive-sidebar-translate{
    left:270px !important;
}
.general__sidebar-show{
    opacity: 1 !important;
    visibility: visible !important;
}

.toggle-responsive-btn {
    #{$start}: 280px !important;
    transition: .5s;

}
.reset-sidebar {
    #{$start}: 0 !important;
    transition: .5s;
}


.overflow-hidden {
    overflow: hidden !important;
}


.part__class{
    color:#65829d !important;
}
.part__svgup{
    transform: rotate(270deg) !important;
}
.child-bag__show-total{
    opacity: 1 !important;
    visibility: visible !important;
}
.sec-level-search__show{
    visibility: visible !important;
    opacity: 1 !important;
}


.first-body__hidden{
    display: none !important;
}

.general-number-product {
    display: flex;
    span {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 36px;
        background: transparent;
        border: 1px solid rgba(0,0,0,0.09);
        color: #333;
        font-size: 9px;
        font-weight: 100;
        line-height: 38px;
        white-space: nowrap;
    }
    input {
        border: 1px solid rgba(0,0,0,0.09);
        width: 32px;
        height: 36px;
        text-align: center;
        color: rgba(122, 169, 60, 1);
        &:focus {
            outline:none;
        }
    }
}
.more-links-show{
    visibility: visible !important;
    opacity: 1 !important;
}



.show {
    display: block !important;
}


.back-body {
    transform : translateX(0px) !important;
    transition: 0.3s;
}


.layout-show {
    display: block !important;
}

.move-overlay {
    #{$start}   : 0 !important;
}

.background-black {
    background:#202020;
    color: $white;
}

.show-arrow-search {
    &::after {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.show-product-content {
    &::after {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .nav-bar__right__menu__bag-product__content {
        opacity: 1 !important;
        visibility: visible !important;
    }
}



%product-items {
    .all-product {
        .producte {
            position: relative;
            min-height: 230px;
            a.img {
                img {
                    width: 100%;
                }

                &::after {
                    content         : '';
                    position        : absolute;
                    background-color: rgba(0, 0, 0, 0.1);
                    width           : 100%;
                    height          : 100%;
                    #{$start}       : 0;
                    top             : 0;
                    opacity         : 0;
                    z-index         : 1;
                }

                &:hover {
                    &::after {
                        opacity: 0;
                    }
                }

            }

            .main-layout {
                position: absolute;
                bottom: 0;
                #{$end}: 0;
                z-index    : 2;
                width: 100%;
                font-size: 13px;
                font-weight: 100;
                text-align: center;
                font-family: "Oswald",sans-serif;
                text-transform: uppercase;
                opacity: 0;
                padding: 15px 12px;
                background : rgba(41, 54, 60, .8);
                color: white;
                transition: all .3s ease-out;

                &:hover {
                    background : rgba(41, 54, 60, 1);
                }
            }

            span {
                position        : absolute;
                top             : 10px;
                display         : inline-block;
                width           : 48px;
                #{$start}       : 10px;
                text-align      : center;
                background-color: #e27c7c;
                color           : $white;
                text-transform  : uppercase;
                padding         : 3px 0px;
                font-weight     : 600;
                font-family     : "Poppins", sans-serif;
                z-index         : 5555;
                font-size       : 10px;
            }

            .logo {
                z-index      : 1;
                position     : absolute;
                width        : 35px;
                height       : 35px;
                background   : $white;
                color        : #000;
                border-radius: 50%;
                #{$start}    : 75%;
                top          : 20px;
                transition   : 0.3s;
                opacity      : 0;
                cursor       : pointer;
                font-weight: normal;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color           : $white;
                    background-color: #29363c;
                }

                &::before {
                    content: '\e87f';
                    font-family: 'porto';
                    font-size:18px;
                }

            }

            &::after {
                content         : '';
                position        : absolute;
                background-color: rgba(0, 0, 0, 0.1);
                width           : 100%;
                height          : 100%;
                #{$start}       : 0;
                top             : 0;
                opacity         : 0;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }


        .all {
            position  : relative;
            display   : flex;
            margin-top: 10px;

            .carousel-item-left {
                width: 100%;
                padding-#{$start}: 10px;

                .office {
                    position   : relative;
                    font-size  : 11px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    transition : 0.3s;

                    a {
                        color: #777;

                        &:hover {
                            color: #29363c
                        }
                    }


                }

                h6 {
                    color         : #212529;
                    text-transform: capitalize;
                    line-height   : 1.35;
                    font-family   : "poppins", sans-serif;
                    font-weight   : 400;
                    margin-bottom : 0.2rem;
                    font-size     : 1rem;

                    a {
                        color: #212529;
                    }
                }

               /* .all__rating__products {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row-reverse;
                    padding: 7px 0;
                    @if $start == right {
                        flex-direction: row;
                    }
                    svg {
                        color        : #777;
                        font-size    : 0.6rem !important;
                        margin-bottom: 0.3rem;
                        opacity: .3;
                        margin: 0 2px;
                    }
                }*/

                .product-content__star {
                    color: #777;
                    font-family: Open Sans,arial,serif;
                    font-size: 10px;
                    padding: 8px 0 2px;
                    display: flex;
                    flex-direction: row-reverse;
                    padding-bottom: 8px;
                    @if $start == right {
                        flex-direction: row;
                    }
                    span {
                        opacity: .3;
                    }
                }

                .price {
                    .old-price {
                        position       : relative;
                        display        : inline-block;
                        text-decoration: line-through;
                        font-size      : 0.9rem;
                        letter-spacing : 0.005em;
                        font-weight    : 600;
                        color          : #999;
                        font-family    : "Open Sans";
                        margin-#{$end} : 3px;
                    }

                    .new-price {
                        color      : #465157;
                        font-weight: 600;
                        font-family: "Poppins", sans-serif;
                    }
                }
            }

            .heart {
                position: absolute;
                #{$end}: 10px;
                z-index: 5;
                a {
                    font-size : 14px;
                    color     : #828282;
                    transition: 0.3s;

                    &:hover {
                        color          : #29363c;
                        text-decoration: none;
                    }
                }
            }


        }

        &:hover {
            .producte {
                
                box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.1);

                &::after {
                    opacity: 1;
                }

                .logo {
                    opacity: 1;
                }

                .main-layout {
                    opacity: 1 !important;
                }


            }
        }

    }
}

%dots-owl {
    .owl-dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        bottom: 40px;
        width: 100%;
        margin-top: 0 !important;
        .owl-dot {
            outline: 0;
            span {
                width           : 1rem;
                height          : 1rem;
                background-color: transparent !important;
                border          : 2px solid #d6d6d6;
                transition      : all 0.3s;
                outline         : 0;
                margin: 2px 4px;
                &:hover {
                    border: 2px solid $main_color;
                }
            }

            &.active {
                border: none !important;
            }
        }

        .active {
            span {
                border         : 2px solid $main_color;
                display        : flex;
                align-items    : center;
                justify-content: center;

                &::before {
                    content         : '';
                    display         : block;
                    background-color: $main_color;
                    width           : .5rem;
                    height          : .5rem;
                    border-radius   : 50%;
                }

            }

        }

    }
}

%footer-top {
    .footer-top {
        padding: 10px 0;
        border-bottom: 1px solid #3d3d38;
        .footer-top__info {
            position: relative;
            line-height: 1;

            padding: 10px 15px;
            display: flex;
            align-items: center;
            @include min-sm {
                justify-content: center;
                margin: 25px 0;
                border-#{$end}: 1px solid #3d3d38;
                padding: 0;
            }
            @include min-md {
                padding: 10px 15px;
            }
            .icon-shipping {
                min-width: 35px;
                margin-#{$end}: 19px;
                color: $white;
                font-size: 37px;

                font-style: normal;

                &::before {
                    content: "\e87d";
                    font-family: "porto";
                }
            }

            .icon-us-dollar {
                min-width: 35px;
                margin-#{$end}: 19px;
                color: $white;
                font-size: 37px;
                font-style: normal;
                &::before {
                    content: "\e879";
                    font-family: "porto";
                }
            }

            .icon-support {
                min-width: 35px;
                margin-#{$end}: 19px;
                color: $white;
                font-size: 37px;
                font-style: normal;
                &::before {
                    content: "\e87e";
                    font-family: "porto";
                }
            }

            div {
                
                h4 {
                    margin-bottom: 0.1rem;
                    padding-top: 0.1rem;
                    text-align: $start;
                    font-family: "Poppins", sans-serif;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: 300;
                    letter-spacing: 0.01rem;
                    line-height: 1.6;
                    text-align: $start;
                    margin-bottom: 0;
                }
            }
        }
        .history {
            border: none;
        }
    }
}