.affiliate__login {
    .affiliate__login__content {
        margin: auto;
        width: 100%;
        @include min-sm {
            width:450px;
        }
        input[type="text"], input[type="password"] {
            text-align: $start;
            width: 100%;
            color: #555 ;
            background-color: transparent;
            border: none;
            border: 1px solid #999;
            padding: 10px;
            display: inline-block;
            padding-#{$start}: 40px;
            font-size: 14px;
            border-radius: 45px;
            margin: 0px;
            &:focus {
                outline: none;
            }
        }
        svg {
            position: absolute;
            #{$start}: 18px;
            top:13px;
            color:#999;
        }

        button[type="submit"] {
            cursor: pointer;
            background: #222;
            width: 75%;
            padding: 10px;
            border-radius: 45px;
            color:$white;
            font-size: 18px;
            text-transform: capitalize;
            transition: .5s;
            &:hover {
                width: 90%;
                transition: .5s;
            }
        }

        .affiliate__login__content__footer {
            span {
                font-size: 15px;
                padding-right:20px;
                color: #999;
            }
        }
    }
}