.affiliate-acount {
    
    
    .affiliate-acount__content {
        .affiliate-acount__content__title {
            text-align: $start;
            padding-#{$start}:16px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #141a1f;
            font-family: Poppins,sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
        }
        .affiliate-acount__content__sub-title {
            text-align: $start;
            padding: 20px 0;
            font-size: 15px;
        }
        .affiliate-acount__content__info, .affiliate-acount__content__main-info {
            border-radius: 15px;
            width: 100%;
            margin: 5px 0;
            background:#4F585F;
            min-height: 90px;
            height: auto;
            color: inherit;
            padding-top: 5px;
            padding-bottom: 0;
            padding-#{$start}: 24px;
            padding-#{$end}: 0;
            font-size: 13px;
            span {
                font-weight: 600;
                font-family: 'Oswald', Arial, Helvetica, sans-serif;
                display: block;
                color :$white;
                text-align: $start;
                &:nth-child(1) {
                    font-size:22px;
                    padding-bottom: 10px;
                    padding-top :10px;
                }
                &:nth-child(2) {
                    font-size:15px;
                    padding-bottom: 30px;
                }
            }
        }
    }
}