.affiliate-links  {
    .affiliate-links__warning {
        background: #FCF8E3;
        padding: 20px;
        font-size:18px;
        color: #8a6d3b;
        font-family: Arial,Verdana,sans-serif;
        font-size: 15px;
        span {
            color :#21759b;
        }
    }

    .affiliate-links__details {
        padding: 20px 16px 20px 16px;
        .affiliate-links__details__head {
            font-family: Arial,Verdana,sans-serif;
            font-size: 15px;
            color: #333;
        }

        .affiliate-links__details__content {
            margin-top:20px;
            width: 100%;
            @media (min-width:992px) {
                width: 50%;
            }
            color: #666;
            border: 1px solid transparent;
            background-color: #f0f0f0;
            border-color: #ddd;
            padding: 5px;
            border-radius: 2px;
            min-height: 80px;
            a {
                color:#29363c;
                font-size:16px;
            }
        }

        
    }
    
    .affiliate-links__info {
        .affiliate-links__info__head {
            padding-#{$start}:16px;
            font-family: Oswald,sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color :#1d2127;
        }
        .affiliate-links__info__sub-head {
            line-height: 27px;
            font-size: 15px;
            color: #333;
            padding-#{$start}: 16px;
            padding-top:20px;
            padding-bottom: 20px;
        }
    }

    .general-affiliate-form {
        label {
            &.warning {
                padding-top:20px;
                font-style: italic;
                color: #666;
            }
        }
        .generate-link {
            background :#ccc;
            padding: 2px 10px;
        }
    }
}