.affiliate-campaigns {
    .affiliate-campaigns__list {
        padding: 10px 0 20px 0;
        li {
            margin-#{$start}:16px;
            width:100%;
            border-bottom: 1px solid #ddd;
            @media (min-width:992px) {
                width:30%;
            }
            display: flex;
            .owner {
                display: inline-block;
                color: #21759b;
                font-weight: bold;
                font-size: 13px;
                line-height: 1.5em
            }
            .icon {
                padding-#{$end}:20px;
                color: #555;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
    .affiliate-campaigns__add-new {
        color :#1d2127;
        font-family: Oswald,sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
    }
}