.banner-page {
    .banner-page__widget {
        margin: 20px;
        border: 1px solid #ddd;
        .banner-page__widget__title {
            font-weight: bold;
            font-size: 16px;
            color: $white;
            padding: 5px 11px;
            box-sizing: border-box;
            background-color: #738E9A;
        }
        code {
            a {
                border: 1px solid #ddd;
                padding:5px 10px 0 10px;
                display: block;
                width: 95%;
                margin: 5px auto;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .banner-page__widget__description {
            padding-top: 0;
            padding-bottom: 0;
            padding-#{$end}: 0;
            padding-#{$start} : 16px;
            font-size: 13px;
            font-weight: bold;
            color: #555;
        }

        .banner-page__widget__size ,.banner-page__widget__target {
            padding: 10px 10px 0 10px;
            span {
                
                &:nth-child(1) {
                    color: #21759b;
                    font-weight: bold;
                    width: 120px;
                    font-family: 'Oswald', arial, sans-serif !important;
                    font-weight: 400;
                    font-size: 12px;
                }
                &:nth-child(2) {
                    font-family: Arial,Verdana,sans-serif;
                    font-size: 16px;
                    font-size: 15px;
                    color: #333;
                }
            }
        }

        .banner-page__widget__source {
            font-family: Arial,Verdana,sans-serif;
            font-size: 16px;
            font-size: 13px;
            font-weight: bold;
            color: #000;
            padding: 10px;
        }
        
    }
}