
.products__dropdown{
    margin-bottom: 100px;
    h4{
        border-top: 1px solid #c1c1c1;
        font-size: 15px;
        text-transform: capitalize;
        a{
            color: #65829d;
            padding-top: 13px;
            display: inline-block;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: 400;
            font-family: "poppins",sans-serif;
            transition: 0.3s;
            &:hover{
               
                text-decoration: underline;
            }
            &:not(.collapsed) {
                .fa-angle-down {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .dropdown__child{
        border-bottom: none;

    .child{
        form{
            input{
                display: block;
                color: #646a70;
                font-family: "Poppins",sans-serif;
                font-weight: 400;
                width: 480px;
                padding: 11px;
                font-size: 13px;
                outline: 0;
            }
            button{
                margin-top: 10px;
                color: #777;
                background-color: $white;
                background-image: none;
                border-color: #ccc;
                letter-spacing: 1px;
                font-family: "oswald",sans-serif;
                padding: 9px;
                border-radius: 0;
            }
        }
    }
    }
}