
.checkout{
    .checkout__progress-bar {
        display: flex;
        padding: 10px 0 40px 0;
        li {
            position: relative;
            width: 155px;
            @include min-sm {
                width: 185px;
            }
            span {
                text-align: center;
                display: block;
                padding-top:45px;
                font-size: 18px;
                word-wrap: break-word;
                color: #999;
                font-weight: 300;
                font-family: "Poppins",sans-serif;
                &::after {
                    content: attr(data-step);
                    font-family: 'porto';
                    height: 38px;
                    width: 38px;
                    position: absolute;
                    top: 0;
                    left: calc(50% - 18px);
                    border-radius: 50%;
                    background: $white;
                    z-index: 5;
                    border: 6px solid #c1c1c1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                }
                &::before {
                    content: '';
                    height: 38px;
                    width: 38px;
                    position: absolute;
                    top: 0;
                    left: calc(50% - 18px);
                    border-radius: 50%;
                    
                    z-index: 2;
                }
            }


            
            &::before {
                
                content: '';
                position: absolute;
                top: 16px;
                height: 7px;
                left: 0;
                z-index: 5;
                width: 100%;
                background-color: #c1c1c1;
                border-radius: 6px 0 0 6px;
            }


            &.active {
                span {
                    &::after {
                        content: '\e84e';
                        font-family: 'porto';
                        height: 38px;
                        width: 38px;
                        position: absolute;
                        top: 0;
                        left: calc(50% - 18px);
                        border-radius: 50%;
                        background: $white;
                        z-index: 5;
                        border: 6px solid #ff5501;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &::before {
                        content: '';
                        height: 38px;
                        width: 38px;
                        position: absolute;
                        top: 0;
                        left: calc(50% - 18px);
                        border-radius: 50%;
                        
                        z-index: 2;
                    }
                }
                &::before {
                    
                    content: '';
                    position: absolute;
                    top: 16px;
                    height: 7px;
                    left: 0;
                    width: 100%;
                    background-color: #ff5501;
                    border-radius: 6px 0 0 6px;
                }
            }
        }
    }
    .checkout-steps{
        li:nth-child(1){
            width: 100%;
            h2{
                font-size: 23px;
                font-weight: 300;
                border-bottom: 1px solid #c1c1c1;
                width: 100%;
                font-family: "poppins",sans-serif;
                padding-bottom: 9px;
                color: #141a1f;
            }
            ///////checkout2//////
            h4{
                font-family: "poppins",sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: #141a1f;
                padding-top: 10px;
            }
            .checkbox{
                input{
                    display: none;
                    &:checked{
                        & ~ .check-box__label{
                            &::after {
                                content: '';
                                #{$start}: 10px;
                                top: 7px;
                                position: absolute;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                transform: rotate(45deg);
                                display: block;
                            }
                          

                        }
                    }
                }
                .check-box__label{
                    position: relative;
                    display: flex;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "poppins",sans-serif;
                    color: #585d63;
                    line-height: 1.9;
                    &::before{
                        content: '';
                        border-color: #29363c;
                        background-color: #29363c;
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        border: solid white;
                        margin-#{$end}: 10px;
                    }
                }
            }

            /////////end/////
            
            form{
                margin-top: 27px;
                padding-bottom: 30px;
                .form{
                    margin-bottom: 12px;
                    label{
                        color: #585d63;
                        font-weight: 400;
                        font-size: 14px;
                        font-family: "poppins",sans-serif;
                        text-transform: capitalize;
                    }
                    .email__input,.password__input, .name__input, .input{
                        display: block;
                        // flex-direction: column;
                        input{
                            font-family: "poppins",sans-serif;
                            font-weight: 400;
                            padding: 12px 16px;
                            color: #646a70;
                            font-size: 14px;
                            outline: 0;
                            border: 1px solid #ced4da;
                            display: block;
                            width: 100%;
                        }
                        input:nth-child(2){
                            margin-top: 11px;
                        }
                        span{
                            // width: 40px;
                            color: #646a70;
                            font-weight: 400;
                            font-family: "poppins",sans-serif;
                            font-size: 15px;
                            position: relative;
                            transition: 0.3s;
                            display: none;
                            &:hover{
                            .tooltips{
                                visibility: visible;
                            }
                        }

                           .tooltips{
                                position: absolute;
                                padding: 12px 16px;
                                background: #efefef;
                                font-size: 14px;
                                top: -20px;
                                #{$start}: 100%;
                                width: 285px;
                                border: 1px solid #777;
                                color: #585d63;
                                margin-#{$start}: 15px;
                                visibility: hidden;
                                p{
                                    margin: 0;
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    #{$start}: -15px;
                                    top: 23px;
                                    border-top: 7px solid transparent;
                                    border-#{$end}: 14px solid #777;
                                    border-bottom: 7px solid transparent;
                                    // visibility: hidden;
                                }
                            }
                           
                        }
                        
                    }
                }
                p{
                    font-size: 13px;
                    font-family: "poppins",sans-serif;
                    color: #777;
                }
                .form__footer{
                    display: flex;
                    .btn-primary{
                        border-color: #29363c;
                        background-color: #29363c;
                        color: $white;
                        border-radius: 0;
                        text-transform: uppercase;
                        font-family: "oswald",sans-serif;
                        font-size: 15px;
                        padding: 13px 42px;
                        margin-#{$end}: 25px;
                        transition: 0.3s;
                        white-space: nowrap;
                        &:hover{
                            border-color: #3a4c54;
                            background-color: #3a4c54;
                        }
                      
                    
                   }
                    a{
                        font-family: "poppins",sans-serif;
                        font-weight: 400;
                        color: #646a70;
                        font-size: 15px;
                        transition: 0.3s;
                        display: flex;
                        align-items: center;
                        &:hover{
                            text-decoration: underline;
                        }
                    
                    }
                }
                .form__State{
                    div:nth-child(2){
                        position: relative;
                        select{
                            font-family: "poppins",sans-serif;
                            font-weight: 400;
                            padding: 12px 16px;
                            color: #646a70;
                            font-size: 14px;
                            outline: 0;
                            width: 100%;
                            border: 1px solid #ced4da;
                            display: block;
                            background: transparent;
                            -webkit-appearance: none;
                        }
                        .choices{
                            position: absolute;
                            top: 20%;
                            #{$end}: 3px;
                            width: 30px;
                            text-align: center;
                            // background: $white;
                            z-index: -1;
                            svg{
                                color: rgb(52, 55, 63);
                                display: inline-block;
                                font-size: 10px;
                                font-family: "poppins",sans-serif;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
            .payment{
                padding-bottom: 5px;
                border-bottom: none;
            }
            form:nth-child(3){
                border-bottom: none;
            }
        }
        li{
            .checkout-steps__method{
                h2{
                    font-size: 23px;
                    font-weight: 300;
                    border-bottom: 1px solid #c1c1c1;
                    width: 100%;
                    font-family: "poppins",sans-serif;
                    padding-bottom: 9px;
                    color: #141a1f;
                }
                table{
                    width: 600px;
                    tbody{
                        color: rgb(100, 106, 112);
                        width: 100%;
                        tr{
                            padding-bottom: 10px;
                            border-bottom: 1px solid #c1c1c1;
                            display: inline-block;
                            width: 100%;
                            margin-bottom: 0.5rem;
                            td{
                                padding-#{$start}: 16px;
                                padding-top: 0;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                padding-#{$end}: 63px;
                                text-transform: capitalize;
                                font-family: "poppins",sans-serif;
                                font-size: 14px;
                                p{
                                    margin: 0;
                                    font-weight: bold;
                                }
                            }
                            .rate{
                                padding-#{$start}: 51px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .button{
        width: 100%;
        height: auto;
        margin-bottom: 125px;
        margin-top: 19px;
        .btn-primary{
            float: $end;
            border-color: #29363c;
            background-color: #29363c;
            color: $white;
            // box-shadow: none;
            border-radius: 0;
            width: 72px;
            text-transform: capitalize;
            font-family: "oswald",sans-serif;
            text-align: center;
            font-weight: 300;
            padding: 11px 0;
            transition: 0.3s;
           
            &:hover{
                border-color: #3a4c54;
                background-color: #3a4c54;
            }
        }
        .previce{
            width: 124px;
            height: 50px;
            text-transform: uppercase;
        }
    }
    .button-previce{
        margin-top: 35px;
    }

}

  //media quary active pages mobile///
  @media (max-width:320px){
    .checkout{
        .sections{
            margin-bottom: 50px !important;
            margin-top: 7px !important;
            .checkout__section{
                &::before{
                #{$start}: 0 !important;
                }
                &::after{
                    width: 56px !important;
                    #{$start}: 65% !important;
                }
                span:nth-child(1){
                    font-size:16px !important;
                    line-height: 1.9 !important;
                }
                span.word{
                    font-size: 16px !important;
                    padding-#{$start}: 15px !important;
                }
            }
        }
    }
    .products{
        .checkout-steps__data{
            form{
                input{
                   width:290px !important;
                }
            }
            .form__State{
                .form-selection{
                    width: 290px !important;
                }
            }
        }
        .checkout-steps__method{
            table{
                width: 100% !important;
                tr{
                    td{
                        padding-#{$end}: 13px !important;
                    }
                }
            }
        }
    }
}



.form-billing{
    margin-top: 27px;
    padding-bottom: 30px;
    .form{
        margin-bottom: 12px;
        label{
            color: #585d63;
            font-weight: 400;
            font-size: 14px;
            font-family: "poppins",sans-serif;
            text-transform: capitalize;
        }
        .email__input,.password__input, .name__input, .input{
            display: block;
            // flex-direction: column;
            input{
                font-family: "poppins",sans-serif;
                font-weight: 400;
                padding: 12px 16px;
                color: #646a70;
                font-size: 14px;
                outline: 0;
                border: 1px solid #ced4da;
                display: block;
                width: 100%;
            }
            input:nth-child(2){
                margin-top: 11px;
            }
            span{
                // width: 40px;
                color: #646a70;
                font-weight: 400;
                font-family: "poppins",sans-serif;
                font-size: 15px;
                position: relative;
                transition: 0.3s;
                display: none;
                &:hover{
                .tooltips{
                    visibility: visible;
                }
            }

                .tooltips{
                    position: absolute;
                    padding: 12px 16px;
                    background: #efefef;
                    font-size: 14px;
                    top: -20px;
                    #{$start}: 100%;
                    width: 285px;
                    border: 1px solid #777;
                    color: #585d63;
                    margin-#{$start}: 15px;
                    visibility: hidden;
                    p{
                        margin: 0;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        #{$start}: -15px;
                        top: 23px;
                        border-top: 7px solid transparent;
                        border-#{$end}: 14px solid #777;
                        border-bottom: 7px solid transparent;
                        // visibility: hidden;
                    }
                }
                
            }
            
        }
    }
    p{
        font-size: 13px;
        font-family: "poppins",sans-serif;
        color: #777;
    }
    .form__footer{
        display: flex;
        .btn-primary{
            border-color: #29363c;
            background-color: #29363c;
            color: $white;
            border-radius: 0;
            text-transform: uppercase;
            font-family: "oswald",sans-serif;
            font-size: 15px;
            padding: 13px 42px;
            margin-#{$end}: 25px;
            transition: 0.3s;
            white-space: nowrap;
            &:hover{
                border-color: #3a4c54;
                background-color: #3a4c54;
            }
            
        
        }
        a{
            font-family: "poppins",sans-serif;
            font-weight: 400;
            color: #646a70;
            font-size: 15px;
            transition: 0.3s;
            display: flex;
            align-items: center;
            &:hover{
                text-decoration: underline;
            }
        
        }
    }
    .form__State{
        div:nth-child(2){
            position: relative;
            select{
                font-family: "poppins",sans-serif;
                font-weight: 400;
                padding: 12px 16px;
                color: #646a70;
                font-size: 14px;
                outline: 0;
                width: 100%;
                border: 1px solid #ced4da;
                display: block;
                background: transparent;
                -webkit-appearance: none;
            }
            .choices{
                position: absolute;
                top: 20%;
                #{$end}: 3px;
                width: 30px;
                text-align: center;
                // background: $white;
                z-index: -1;
                svg{
                    color: rgb(52, 55, 63);
                    display: inline-block;
                    font-size: 10px;
                    font-family: "poppins",sans-serif;
                    font-weight: 300;
                }
            }
        }
    }
}