// dashboard body //////
.dashboard{
    padding: 0 !important;
    .side-bar__widget{
        .widget__title{
            font-weight: 600;
            font-size: 1rem;
            /* margin-top: .2rem; */
            font-family: "poppins",sans-serif;
            color: #141a1f;
            /* margin: .5rem 0 1.3rem; */
            margin: 0;
            margin-bottom: 21px;
        }
        .widget__list{
            list-style-type: none;
            padding-#{$start}: 12px;
            li{
                a{
                    border-bottom: 1px solid #c1c1c1;
                    font-size: 13px;
                    padding-bottom: 13px;
                    display: block;
                    text-decoration: none;
                    background-color: transparent;
                    font-family: "poppins", sans-serif;
                    color: #646a70;
                    padding-top: 14px;
                    &:hover{
                        text-decoration: underline;
                    }
                    svg{
                        color:#141a1f;
                        margin-#{$end}: 5px;
                    }
                }
                .account{
                    color: #141a1f !important;
                    padding-top:0 ;
                }
            }
        }
        
    }
   
    // dashboard content //////////
    .dashboard-content{
       .dashboard-content__tittle{
            font-size: 22px;
            font-family: "poppins",sans-serif;
            color: #141a1f;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.1;
            margin-bottom: 1.3rem;
        }
        .dashboard-content__alert{
            font-family: "poppins",sans-serif;
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
            border: 1px solid transparent;
            border-color: #c3e6cb;
            /* padding: 0.5rem 0.9rem; */
            vertical-align: middle;
            padding-top: 18px;
            padding-#{$start}: 0.9rem;
        }
        .dashboard-content__greeting{
            font-family: "poppins",sans-serif;
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
            border: 1px solid transparent;
            border-color: #c3e6cb;
            /* padding: 0.5rem 0.9rem; */
            vertical-align: middle;
            padding-top: 18px;
            padding-#{$start}: 0.9rem;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 37px;
            p{
            span{
                font-weight: 700;
                color: #155724;
                font-size: 15px;
            }
        }
    }
    .account{
        .account__tittle{
            font-family: "poppins",sans-serif;
            font-size: 18px;
            color: #141a1f;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.1;
            margin-bottom: 0.7rem;
        }
        .account-info{
            .account-info__contact{
                margin-bottom: 3rem;
                border: 1px solid #ddd;
                border-radius: 0;
                .contact__header{
                    width: 100%;
                    border-color: #ddd;
                    background-color: #f5f5f5;
                    padding-top: 19px;
                    color: #141a1f;
                    font-weight: 700;
                    /* line-height: 1.5; */
                    padding-bottom: 32px;
                    padding-#{$start}: 17px;
                    padding-#{$end}: 17px;
                    border-bottom: 1px solid rgba(0,0,0,.125);
                    h3{
                        text-transform: uppercase;
                        font-family: "poppins",sans-serif;
                        font-size: 14px;
                        float: $start;
                        display: inline-block;
                        color: #141a1f;
                        font-weight: 900;
                    }
                    a{
                        display: inline-block;
                        margin-top: .1rem;
                        line-height: 0.8rem;
                        float: $end;
                        color: #65829d;
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: capitalize;
                        font-family: "poppins",sans-serif;
                    }
                }
                .contact__body{
                    clear: both;
                    margin-top: 23px;
                    padding-#{$start}: 13px;
                    color: #a4abab;
                    padding-bottom: 42px;
                    p{
                        margin: 0;
                        font-family: "poppins",sans-serif;
                        font-size: 15px;
                        a{
                            color: #65829d;
                            text-decoration: underline;
                            font-size: 15px;
                            font-family: "poppins",sans-serif;
                        }
                    }
                }
                .shilter-body{
                    padding-bottom: 87px;
                }
                .address-bill{
                    display: inline-block;
                }
                .address-ship{
                    float: $end;
                    width: 50%;
                }

            }
        }
    }
  }
}
@media(max-width:992px){
    .dashboard{
        padding-#{$start}: 15px !important;
        padding-#{$end}: 15px !important;
        .dashboard-content{
            .dashboard-content__greeting{
                margin-bottom: 1.8rem !important;
            }
            .account{
                .account-info__tittle{
                    margin-bottom: 1.1rem !important;
                    font-size: 1.2rem !important;
                    font-weight: 400 !important;
                }
                .account-info__contact{
                    margin-bottom: 1.5rem !important;
                    .contact__header{
                        h3{
                            font-weight: bold !important;
                        }
                    }
                }
                .account-info{
                    .address-bill{
                        padding-bottom: 20px !important;
                    }
                    .address-ship{
                        float: inherit !important;
                        margin-top: 0 !important;
                        width: 100% !important;
                    }
                }
            }

        }
    }
}

