.nav-bar {
    .product-bag {
        max-height:300px;
        overflow: auto;
        .product-bag__container {
            border-top:1px solid #ddd;
            padding-top:20px;
            .product-bag__title {
                color: #777;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
            }
            .product-bag__price {
                padding-top:12px;
                h4 {
                    display: inline-block;
                    color: #696969;
                    font-family: Open Sans,arial,serif;
                    font-size: 13px;
                }
            }
            .product-bag__delete-product {
                display: flex;
                align-items: center;
                justify-content: center;
                h4 {
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    color:$white;
                    color: #777;
                    font-size: 19px;
                    font-weight: 600;
                }
            }
        }
        
    }
}


.fashion {
    
    .fashion__right {
        width: 100%;
        @media(min-width: 992px) {
            width: calc(100% - 274px);
        }
        .fashion__content {
            padding-top:10px;
            label {
                &.sort {
                    margin-#{$end}: 8px;
                    color: #777;
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
            select {
                outline: none;
                &.sort-select {
                    font-family: 'Open Sans',arial,serif;
                    padding: 4px 8px;
                    border: 1px solid #ccc;
                    color : #777;
                    font-size: 13px;
                    option {
                        font-size: 13px;
                    }
                }
            }
            button {
                border: none;
                color: #000;
                outline: none;
                background: transparent;
                display: flex;
                align-items: center;
                cursor: pointer;
                &.col-items {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-#{$end}: 0;
                    margin-#{$start}: 10px;
                }
                
                img {
                    width: 14px;
                    height: 15px;
                }
                @include max-sm {
                    display: none;
                }
            }
            .product-content {
                margin-top: 30px;
                .product-content__img {
                    margin-bottom: 20px;
                    position: relative;
                    border: 1px solid #ddd;
                    height: 276px;
                    img {
                        width: 100%;
                    }
                    .img {
                        position: absolute;
                        top: 0;
                        #{$start}: 0;
                        width: 100%;
                        height: 100%;
                        &:nth-child(2) {
                            opacity: 0;
                            transition: opacity .5s;
                        }
                    }
                    .view {
                        position: absolute;
                        bottom: 0;
                        background: rgba(32,32,32,.8);
                        text-transform: uppercase;
                        font-size: 13px;
                        display: block;
                        width: 100%;
                        padding: 6.4px 0;
                        color: $white;
                        z-index: 1;
                        padding: 14px;
                        opacity: 0;
                        transition: .5s;
                        cursor: pointer;
                        &:hover {
                            background: rgba(32,32,32,1);
                            transition: .5s;
                        }
                    }
                    .heart {
                        position: absolute;
                        #{$end}: 10px;
                        top: 14px;
                        height:36px;
                        width: 36px;
                        transition: .5s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 18px;
                        border: 1px solid rgb(221, 221, 221);
                        font-size: 16px;
                        font-family: 'Porto';
                        color:#333;
                        &::after {
                            content: '\e889';
                        }

                        &:hover {
                            background: rgba(32,32,32,1);
                            color: $white;
                            border: 1px solid rgba(32,32,32,1);
                        }
                    }
                    .amount {
                        @extend .heart;
                        top: 64px;
                        &::after {
                            content: '\e810';
                        }
                        
                    }
                    &:hover {
                        .img {
                            &:nth-child(1) {
                                opacity: 0;
                                transition: opacity .5s;
                            }
                            &:nth-child(2) {
                                opacity: 1;
                                transition: opacity .5s;
                            }
                        }
                    }
                }
                .product-content__price {
                    margin-top: 18px;
                }
                .product-content__sub-head {
                    font-family: Open Sans,arial,serif;
                    font-weight: 400;
                    display: block;
                    font-size: 10px;
                    opacity: .5;
                    text-transform: uppercase;
                    line-height: 1.7;
                    white-space: nowrap;
                    margin: 0;
                    color :#000;
                    text-decoration: none;
                    transition: .5s;
                    &:hover {
                        color: rgba(32, 32, 32, 1);
                        transition: .5s;
                    }
                }
                .product-content__head {
                    font-family: Open Sans;
                    font-size: 14px;
                    color: #2b2b2d;
                    font-weight: 400;
                    line-height: 1.35;
                    text-decoration: none;
                }
                .product-content__star {
                    color: #777;
                    font-family: Open Sans,arial,serif;
                    font-size: 11px;
                    padding: 8px 0 2px;
                    span {
                        opacity: .3;
                    }
                }
                .product-content__content {
                    @include max-sm {
                        padding: 10px 0;
                    }
                }
                .product-content__price {
                    margin-top: 0;
                    font-family: 'Oswald';
                    font-weight: 400;
                    letter-spacing: .005em;
                    color: #2b2b2d;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .product-content__add-cart {
                    font-family: Open Sans,arial,serif;
                    font-size: 13px;
                    display: flex;
                    color: #777;
                    margin-bottom: 1.0714em;
                    .product-content__add-cart__number {
                        display: flex;
                        span {
                            cursor: pointer;
                            user-select: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 28px;
                            height: 36px;
                            background: transparent;
                            border: 1px solid rgba(0,0,0,0.09);
                            color: #333;
                            font-size: 9px;
                            font-weight: 100;
                            line-height: 38px;
                            white-space: nowrap;
                        }
                        input {
                            border: 1px solid rgba(0,0,0,0.09);
                            width: 32px;
                            height: 36px;
                            text-align: center;
                            color: rgba(0,0,0,1);
                            &:focus {
                                outline:none;
                            }
                        }
                    }

                    .product-content__add-cart__select {
                        .product-content__add-cart__select__contain {
                            height: 100%;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 47%;
                                #{$start}: 7px;
                                z-index: 5;
                                border-style: solid;
                                border-width: 4px 3px 0 3px;
                                border-color: #000 transparent transparent transparent;
                            }
                            select {
                                
                                width: 55px;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;       
                                direction: rtl;
                                border:none;
                                border: 1px solid rgba(0, 0, 0, 0.09);
                                height: 100%;
                                padding-#{$end}: 7px;
                                
                                &::-ms-expand {
                                    display: none; 
                                }
                            }
                            
                        }
                    }
                    button, a{
                        height: 36px;
                        margin-#{$start}: 5px;
                        color: #000;
                        padding-top: 0;
                        padding-#{$start}: 5px;
                        padding-#{$end}: 7px;
                        padding-bottom: 0;

                        border: 1px solid #ddd;
                        background: transparent;
                        font-size: 14px;
                        text-transform: uppercase;
                        z-index: 1;
                        white-space: nowrap;
                        font-weight: 400;
                        font-family: 'Oswald';
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &::before {
                            font-family: "Porto";
                            content: "\e87f";
                            font-size: 18px;
                            font-weight: 400;
                            padding-#{$end} : 5px;
                        }
                        
                        &:hover {
                            background: rgba(32, 32, 32, 1);
                            color: $white;
                        }
                    }
                }
                &:hover {
                    .view {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .shop-ajax-main-btns {

            
            button {
                width: 35px;
                height: 35px;
                border:1px solid #ddd;
                margin: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .5s;
                &.three-dots {
                    pointer-events: none;
                }
                &.disabled {
                    opacity: .5;
                    pointer-events: none;
                }
                &:hover {
                    background: #7AA93C;
                    color:$white;
                    transition: .5s;
                }
                &.active {
                    background: #7AA93C;
                    color: $white;
                }
                &.next {
                    border-radius: 2px;
                    width: auto;
                }
                &.prev {
                    border-radius: 2px;
                    width: auto;
                }
            }
        }
        .peload-before-ajax {

            position: absolute;
            top: 0;
            background: rgba(255,255,255,.8);
            width: 100%;
            height: 100%;
            display: flex;
            .sk-three-bounce {
                margin: auto;
                text-align: center;
            
                .sk-child {
                    width: 15px;
                    height: 15px;
                    background-color: #ddd;
                    
                    border-radius: 100%;
                    display: inline-block;
                    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
                }
            
                .sk-bounce-1 {
                    animation-delay: -0.32s;
                }
                .sk-bounce-2 {
                    animation-delay: (-0.32s / 2);
                }
            }
        }

        .append-ajax-content {
            display: flex;
            flex-wrap: wrap;
            
            &.col-products {
                & > .main-coulom {
                    width: 100%;
                    @include min-sm {
                        width: 48%;
                    }
                    @include min-xl {
                        width: 32%;
                        margin: 0 0.6665%;
                    }
    
                    .grid-childs {
                        .head-content {
                            text-align: center;
                        }
                        .coulom-content {
                            text-align: center;
                        }
                    }

                    .product-content__add-cart {
                        justify-content: center;
                    }
                }
            }

            

            &.row-products {
                & > .main-coulom {
                    width: 100%;
                    
                    
                    
                    .grid-childs {
                        @include min-sm {
                            display: flex;
                        }

                        .head-content {
                            text-align: center;
                            width: 100%;
                            padding: 0 15px;
                            @include min-sm {
                                width: 40%;
                                text-align: #{$start};
                            }
                        }
                        .coulom-content {
                            text-align: center;
                            width: 100%;
                            
                            padding: 0 15px;
                            @include min-sm {
                                width: 60%;
                                text-align: #{$start};
                            }
                        }
                    }

                    .product-content__add-cart {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}
