// modify owl dots of owl carousel 
.slider {
    z-index: 0;
    

    // first slide of owl carousel 
    .first_item {
        width : 100% !important;
        height: 50vh !important;
        @include min-sm {
            height: 80vh !important;
        }

        @include min-lg {
            height: 100vh !important;
        }
        img {
            width : 100%;
            height: 100%;
        }

    }
    @extend %dots-owl;
}



// imges of products
.productes {
    .row-img {
        margin: 0;

        .img {
            padding: 0;

            a {
                width  : 100%;
                height : 100%;
                display: inline-block;

                img {
                    width: 100%;
                }

                &::after {
                    content   : '';
                    position  : absolute;
                    background: rgba(0, 0, 0, 0.5);
                    width     : 100%;
                    height    : 100%;
                    #{$start} : 0;
                    z-index   : 1;
                    opacity   : 0;
                    transition: 0.3s;
                }

                &:hover {
                    &::after {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

// men collection ////
.men-collection {
    &>div {
        &:nth-child(even) {
            @media (max-width: 767px) {
                order: 1 !important;
            }
        }

        &:nth-child(odd) {
            @media (max-width: 767px) {
                order: 2 !important;
            }
        }
    }

    // display: flex;
    .men-collection__first-part {
        position: relative;
        .owl-nav {
            position: absolute;
            top: 50px;
            #{$end}: 0;
            @include min-sm {
                top: 10px !important;
            }
        }
        .owl-stage-outer,.owl-carousel {
            position: static;
        }
        
        .owl-next {
            &:hover {
                background: none !important;
            }
            &::after {
                content: '\e819';
                width: 10px;
                margin-right: 2px;
                margin-left: 2px;
                font-family: 'porto';
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                line-height: 10px;
                color: #bfbfbf;
                font-size: 20px;
                
            }
            span {
                display: none;
            }

        }

        .owl-prev {
            margin-#{$start}: 10px;
            &:hover {
                background: none !important;
            }
            &::after {
                content: '\e81a';
                width: 10px;
                margin-right: 2px;
                margin-left: 2px;
                font-family: 'porto';
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                line-height: 10px;
                color: #bfbfbf;
                font-size: 20px;
                
            }
            span {
                display: none !important;
            }

        }
        .title {
            margin-bottom: 2rem;

            h2 {
                font-weight   : 400;
                font-size     : 27px !important;
                font-family   : "oswald", sans-serif;
                letter-spacing: 0.05rem;
                color         : #141a1f;
                letter-spacing: .05rem;
                position      : relative;
                text-transform: uppercase;
                margin-bottom : .3rem;
                width: 80%;
            }

            p {
                font-size     : 0.8rem;
                letter-spacing: .02rem;
                margin-bottom : 1.5rem;
                color         : #646a70;
            }
        }

        .collection {
            width   : 100%;
            @extend %product-items;
        }
    }

    .men-collection__sec-part {
        padding : 0;
        position: relative;
        .sec-part__background-men {
            background-size    : cover;
            width              : 100%;
            height             : 100%;
            display            : flex;
            background-repeat  : no-repeat;
            position           : relative;
            background-position: center;

            &::after {
                content             : '';
                position            : absolute;
                top                 : -20px;
                border-#{$start}    : 22px solid transparent;
                border-#{$end}      : 13px solid transparent;
                border-bottom       : 40px solid $white;
                transform           : translate(-13px, 53px) rotate(61deg);
            }

            .title {
                margin-top      : auto;
                margin-bottom   : auto;
                margin-#{$start}: 16%;

                h2 {
                    letter-spacing: .05rem;
                    margin-bottom : 0;
                    color         : $white;
                    text-transform: uppercase;
                    font-weight   : 400;
                    font-family   : "oswald", sans-serif;
                    font-size     : 60px;
                    line-height   : 60px;
                }
            }

            p {
                font-size     : 0.8rem;
                letter-spacing: .02rem;
                margin-bottom : 1.5rem;
                color         : #646a70;
            }
        }
    }
}

// project //////////
.project {
    background    : #e0e2e3;
    padding-top   : 5.7rem;
    padding-bottom: 9rem;

    .define {
        margin-bottom: 1.6rem;
        text-align   : center !important;

        h3 {
            margin-bottom : .3rem;
            font-family   : "oswald", sans-serif;
            font-weight   : 400;
            font-size     : 1.5rem;
            letter-spacing: .05rem;
            text-transform: uppercase;
            color         : #141a1f;
        }

        p {
            font-family   : "poppins", sans-serif;
            font-weight   : 400;
            font-size     : 14px;
            letter-spacing: .02rem;
            margin-bottom : 1.5rem;
            color         : #646a70;
        }
    }

    @extend %product-items;
    @extend %dots-owl;

    .owl-dots {
        bottom: -70px;
    }
}




