
// body //////////
.reset-form{
    padding-top: 22px;
    .head{
        h2{
            color: #141a1f;
            font-family: "poppins",sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
        }
        p{
            color: #646a70;
            font-family: "poppins",sans-serif;
            font-size: 0.9rem;
            padding-top: 14px;
        }
    }
    form{
        margin-top: 45px;
        margin-bottom: 105px;
        p{
            font-family: "poppins",sans-serif;
            text-transform: capitalize;
            margin: 0 0 .6rem;
            color: #585d63;
            font-size: 0.9rem;
            font-weight: 400;
            span{
                color: red;
            }
        }
        input{
            width: 100%;
            display: block;
            line-height: 2;
            padding-top: 10px;
            padding: 10px;

            @media (min-width:576px) {
                width:60%;
            }
            @media (min-width:1024px) {
                width:36%;
            }
        }
        button{
            margin-top: 20px;
            outline: 0;
            border-style: none;
            /* background: #000; */
            color: $white;
            padding-top: 19px;
            padding-bottom: 16px;
            padding-#{$start}: 21px;
            padding-#{$end}: 21px;
            border-color: #29363c;
            background-color: #29363c;
            transition: 0.3s;
            &:hover{
                border-color: #3a4c54;
                background-color: #3a4c54;
                color: $white;
                box-shadow: none;
                a{
                    text-decoration: none;
                }
            }
            a{
                font-family: "poppins",sans-serif;
                font-size: 0.9rem;
                color: $white;
            }
        }
    }
}