//  product owl carousel ///////
.body {
    position: relative;

    .body__left-side {
        padding-#{$start}: 25px;

        .product {
            .product-gallary {
                margin-bottom  : 3rem;
                padding-#{$end}: 0;

                .product-slider-container {
                    padding-#{$end}: 20px;
                    padding-top    : 5px;

                    .slider-product {
                        &:hover {
                            .owl-nav {
                                visibility: visible;
                                transition: 0.2s;
                            }
                        }

                        .product-item {
                            position: relative;

                            .zoom {
                                display : inline-block;
                                position: relative;


                                img {
                                    width: 100%;
                                }


                            }
                        }

                        .owl-nav {
                            display   : block;
                            color     : #000;
                            position  : absolute;
                            top       : 40%;
                            width     : 100%;
                            visibility: hidden;

                            .owl-prev {
                                font-size     : 50px;
                                text-align    : $start;
                                left          : 5px;
                                background    : none;
                                color         : #000;
                                position      : absolute;
                                text-align    : center;
                                vertical-align: middle;

                            }

                            .owl-next {
                                font-size : 50px;
                                position  : absolute;
                                right     : 5px;
                                background: none;
                                color     : #000;
                            }
                        }

                        .owl-dots {
                            .owl-dot {
                                &:hover {
                                    border: 2px solid #000;
                                }
                            }

                            button {
                                background-image: url("../../dist/img/product-1-big.jpg");
                                background-size : cover;
                                display         : inline-block;
                                width           : 100px;
                                height          : 100px;
                                border-radius   : 0;
                                margin-top      : 0;
                                margin-bottom   : 0;
                                margin-#{$start}: 10px;
                                outline         : none !important;

                                span {
                                    display: none;
                                }


                                &:nth-child(2) {

                                    background-image: url("../../dist/img/product-2-big.jpg");

                                }

                                &:nth-child(3) {

                                    background-image: url("../../dist/img/product-3-big.jpg");

                                }

                                &:nth-child(4) {

                                    background-image: url("../../dist/img/product-4-big.jpg");

                                }
                            }
                        }
                    }
                }
            }

            .details {
                .product-content__star {
                    color: #777;
                    font-family: Open Sans,arial,serif;
                    font-size: 10px;
                    padding: 8px 0 2px;
                    display: flex;
                    padding-bottom: 8px;
                    justify-content: center;
                    span {
                        opacity: .3;
                    }
                }
                .product-single-detailes {
                    .general-sidebar__left__size {
                        label {
                            width: auto;
                            padding: 0 5px;
                            text-transform: lowercase;
                        }
                        display: flex;
                        align-items: center;
                    }
                    h1 {
                        font-size    : 32px;
                        margin-bottom: 0px;
                        // margin-top: -10px;
                        color        : #21293c;
                        font-weight  : 700;
                        font-family  : 'Poppins', sans-serif;
                    }

                    .rating {
                        display      : flex;
                        margin-bottom: 19px;

                        .fonts {
                            color      : #646a70;
                            font-size  : 12px;
                            font-family: serif;
                            margin-top : 2px;
                            line-height: 1.9;
                            cursor     : pointer;

                            svg:nth-child(4) {
                                color: #d6d6d6;
                            }

                            svg:nth-child(5) {
                                color: #d6d6d6;
                            }
                        }

                        .review {
                            a {
                                font-size       : 12px;
                                margin-#{$start}: 11px;
                                color           : #90939a;
                                font-weight     : 500;
                                text-transform  : capitalize;
                                font-family     : 'Poppins', sans-serif;
                                transition      : 0.3s;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                    }

                    .price-box {
                        margin-bottom: 25px;

                        .old-price {
                            font-size      : 17px;
                            font-family    : "open sans";
                            font-weight    : 600;
                            text-decoration: line-through;
                            letter-spacing : 0.005em;
                            color          : #999;
                            font-family    : "Open Sans";
                            margin-#{$end} : 3px;
                        }

                        .new-price {
                            font-size       : 25px;
                            font-weight     : 700;
                            font-family     : "poppins", sans-serif;
                            color           : #29363c;
                            margin-#{$start}: 10px;
                        }
                    }

                    .product-desc {
                        padding-bottom: 17px;
                        letter-spacing: .005em;
                        line-height   : 1.92;
                        b {
                            font-size     : 15px !important;
                        }

                        p {
                            font-size     : 14px;
                            letter-spacing: .005em;
                            line-height   : 1.92;
                            margin-bottom : 1.5rem;
                            color         : #646a70;
                            font-family   : "Poppins", sans-serif;
                            margin-bottom : 1.5rem;
                        }

                    }

                    .colors {
                        padding-bottom: 30px;
                        display: flex;
                        align-items: center;
                        h1 {
                            font-size: 15px !important;
                            padding-#{$end}: 10px;
                            @include min-sm {
                                font-size: 18px;
                            }
                        }
                        .filter-color {
                            display    : flex;
                            align-items: center;

                            label.color-label {
                                color         : #21293c;
                                font-size     : 17px;
                                font-family   : "poppins", sans-serif;
                                font-weight   : 600;
                                letter-spacing: .005em;
                            }

                        }
                    }

                    .product-action {
                        display        : flex;
                        flex-wrap      : wrap;
                        justify-content: flex-start;
                        margin-bottom  : 25px;
                        .product-qty {
                            max-width : 104px;
                            margin-top: 0;
                            margin-#{$end}: 20px;
                            margin-bottom: 10px;
                            margin-#{$start}: 0;
                            max-height: 43px;

                            .group {
                                display        : flex;
                                flex-wrap      : nowrap;
                                align-items    : stretch;
                                width      : 100%;
                                max-height     : 43px;
                                padding-#{$end}: 0;

                                button {
                                    position        : relative;
                                    padding         : 1.05rem;
                                    background-color: $white;
                                    outline         : none;
                                    font-family     : "Poppins", sans-serif;
                                    z-index         : 1;
                                    border-style    : none;
                                    border          : 1px solid #ced4da;
                                    cursor          : pointer;
                                    padding         : 17px;
                                    width           : 10px;
                                    height          : 43px;

                                    &:after {
                                        display         : block;
                                        position        : absolute;
                                        top             : 50%;
                                        #{$start}       : 60%;
                                        width           : 11px;
                                        height          : 1px;
                                        margin-#{$start}: -.55rem;
                                        background-color: #8798a1;
                                        content         : '';
                                    }
                                }

                                .minus {
                                    margin-#{$end}: -1px;


                                }

                                .plus {
                                    button {
                                        &::before {
                                            display         : block;
                                            position        : absolute;
                                            top             : 50%;
                                            #{$start}       : 60%;
                                            width           : 11px;
                                            height          : 1px;
                                            margin-#{$start}: -.55rem;
                                            background-color: #8798a1;
                                            content         : '';
                                            transform       : rotate(90deg);
                                        }



                                    }
                                }


                                .form-control {
                                    width         : 41px;
                                    height        : 43px;
                                    padding       : 1rem 0.2rem !important;
                                    color         : #21293c;
                                    font-size     : 15px;
                                    letter-spacing: .05em;
                                    box-shadow    : none;
                                    text-align    : center;
                                    margin-bottom : 0;
                                    line-height   : 3;
                                    border-#{$end}: transparent;
                                }
                            }
                        }

                        .add-carrt {
                            min-width       : 115px;
                            height          : 43px;
                            margin          : 0 1rem 1rem 0;
                            font-family     : "Oswald", sans-serif;
                            font-weight     : 400;
                            text-transform  : uppercase;
                            /* padding      : .85rem .5rem; */
                            color           : #29363c;
                            background-color: white;
                            border          : 1px solid #d4d4d4;
                            transition      : all .3s;
                            text-decoration : none;
                            text-align      : center;
                            position        : relative;
                            display         : -ms-flexbox;
                            display         : inline-flex;
                            align-items     : center;
                            justify-content : center;
                            font-size       : 1.5rem;

                            &:hover {
                                border-color    : #29363c;
                                background-color: #29363c;

                                span {
                                    color: $white !important;
                                }
                            }

                            span {
                                padding-#{$end}  : .1rem;
                                padding-#{$start}: .4rem;
                                font-size        : 0.9rem;
                                letter-spacing   : .02rem;
                                font-weight      : 400;
                                text-transform   : uppercase;
                                color            : #29363c;
                                text-align       : center;
                                display          : inline-block;
                                font-family      : "Oswald", sans-serif;

                            }
                        }

                        .span {
                            cursor: pointer;
                            height          : 43px;
                            min-width       : 43px;
                            margin-top: 0;
                            margin-#{$end}: 10px;
                            margin-bottom: 10px;
                            margin-#{$start}: 0;

                            position        : relative;
                            display         : inline-flex;
                            -ms-flex-align  : center;
                            align-items     : center;
                            -ms-flex-pack   : center;
                            justify-content : center;
                            font-size       : 1.3rem;
                            font-family     : 'porto';
                            color           : #29363c;
                            background-color: white;
                            border          : 1px solid #d4d4d4;
                            transition      : all .3s;
                            text-decoration : none;
                            text-align      : center;

                            &:hover {
                                border-color    : #29363c;
                                background-color: #29363c;
                                color           : $white;

                                .Add-Wishlis,
                                .Add-compare {
                                    visibility : visible;
                                    color      : #29363c;
                                    background : $white;
                                    font-weight: lighter;
                                    font-family: "Poppins", sans-serif;
                                }
                            }

                            .Add-Wishlis,
                            .Add-compare {
                                position  : absolute;
                                width     : 115px;
                                #{$start} : 30px;
                                font-size : 12px;
                                border    : 1px solid #000;
                                top       : 25px;
                                z-index   : 1;
                                visibility: hidden;
                            }

                            .Add-compare {
                                width: 130px;
                            }
                        }
                    }

                    .links {
                        display: flex;

                        label {
                            font-family   : "poppins", sans-serif;
                            font-weight   : 600;
                            letter-spacing: .005em;
                            text-transform: uppercase;
                            font-size     : 14px;
                            ;
                        }

                        label:nth-child(1) {
                            margin-#{$end}: 15px;
                            margin-bottom : 0;
                            line-height   : 2;
                        }

                        ul.filter-share__btn {
                            display: flex;

                            li {
                                span.btn__share {
                                    width         : 30px;
                                    height        : 30px;
                                    border-radius : 50%;
                                    background    : #4c4c4c;
                                    text-align    : center;
                                    cursor        : pointer;
                                    margin-#{$end}: 5px;
                                    display       : inline-block;
                                    transition    : 0.6s;
                                }

                                a {
                                    color      : $white;
                                    font-size  : 14px;
                                    line-height: 2.3;
                                }

                                &:hover {
                                    transform: translateY(-7px);

                                }

                            }

                            li:nth-child(3) {
                                position: relative;

                                span.btn__share {
                                    &::before {
                                        content   : '';
                                        display   : inline-block;
                                        background: $white;
                                        position  : absolute;
                                        width     : 3px;
                                        height    : 12px;
                                        top       : 9px;
                                        #{$start} : 14px;

                                    }

                                    &::after {
                                        content   : '';
                                        display   : inline-block;
                                        background: $white;
                                        position  : absolute;
                                        width     : 3px;
                                        height    : 12px;
                                        top       : 9px;
                                        #{$start} : 14px;
                                        transform : rotate(90deg);
                                    }
                                }
                            }

                            .links__more {
                                position: relative;

                                .more__links-more {
                                    position  : absolute;
                                    width     : 170px;
                                    height    : 160px;
                                    border    : 1px solid #d5d6d6;
                                    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
                                    top       : 30px;
                                    visibility: hidden;
                                    opacity   : 0;
                                    transition: 0.3s;

                                    ul {

                                        li {
                                            transition: 0.3s;

                                            a {
                                                line-height      : 2.3;
                                                color            : #235dab !important;
                                                text-transform   : capitalize;
                                                font-weight      : 400;
                                                width            : 100%;
                                                display          : inline-block;
                                                font-family      : "poppins", sans-serif;
                                                font-size        : 13px;
                                                padding-#{$start}: 10px;
                                                transition       : 0.3s;

                                                span {
                                                    display       : inline-block;
                                                    width         : 20px;
                                                    height        : 20px;
                                                    background    : rgb(115, 138, 141);
                                                    line-height   : 1.9;
                                                    font-size     : 11px;
                                                    text-align    : center;
                                                    margin-#{$end}: 5px;
                                                    transition    : 0.3s;

                                                    svg {
                                                        color: $white;
                                                    }
                                                }

                                            }

                                            &:hover {
                                                background: #235dab;

                                                a {
                                                    color: $white !important;
                                                }
                                            }
                                        }
                                        
                                    }

                                }
                            }
                        }
                    }


                }

            }
        }




        .product-taps {
            margin-bottom: 5.5rem;

            ul.nav-tabs {
                margin       : 0;
                border       : 0;
                border-bottom: .2rem solid #e7e7e7;

                li {
                    position   : relative;
                    margin-#{$start}: 6px;
                    margin-bottom: 13px;
                    @include min-sm {
                        margin-#{$start}: 30px;
                    }


                    a {
                        color          : #282d3b;
                        font-family    : "Oswald", sans-serif;
                        letter-spacing : .01rem;
                        text-transform : uppercase;
                        font-size      : 15px;
                        font-weight    : 700;
                        padding-bottom : 9px;
                        border         : 0;
                        display        : block;
                        text-decoration: none;
                    }

                }

                .active {
                    border-bottom: 2px solid #000;
                    color        : #282d3b;


                }



                .tags,
                .rview,
                .guid-size {
                    margin-#{$start}: 30px;

                    a {
                        text-decoration: none;
                    }
                }
            }

            .artical-tab {
                padding-top: 32px;
                color      : #7b858a;
                line-height: 1.92;

                .artical-tab__content {

                    b {
                        margin-bottom: 25px;
                        font-family  : 'Poppins', sans-serif;
                        font-size    : 14px;

                    }

                    ul,ol {
                        margin-bottom    : 2.2rem;
                        padding-#{$start}: 4rem;
                        list-style-type  : none;

                        li {
                            margin-bottom: .4rem;
                            position     : relative;
                            font-family  : 'Poppins', sans-serif;
                            font-size    : 14px;


                            svg {
                                color         : #282d3b;
                                margin-#{$end}: 23px;
                            }



                        }
                    }
                }

                .tags {
                    display: none;

                    form {
                        h4 {
                            margin        : 0 0 2rem;
                            font-size     : 1.4rem;
                            font-weight   : 700;
                            text-transform: uppercase;
                            letter-spacing: 0;
                            line-height   : 1.1;
                            font-family   : 'Poppins', sans-serif;
                            color         : #141a1f;
                        }

                        .form-group {
                            margin-bottom: 1.4rem;
                            display      : flex;

                            input.text {
                               
                                margin-#{$end}: 6px;
                                padding       : 0.3rem 0.2rem;
                                @include min-sm {
                                    width         : 250px;
                                }
                            }

                            input.submit {
                                border-color    : #29363c;
                                background-color: #29363c;
                                color           : $white;
                                box-shadow      : none;
                                border-style    : 0;
                                padding         : 0.3rem 0.2rem 0.5rem;
                                font-size       : 1.2rem;
                                line-height     : 1.5;
                                font-family     : "Oswald", sans-serif;
                                letter-spacing  : .075rem;
                                text-transform  : uppercase;
                                border-radius   : 0;
                                min-width       : 124px;
                                transition      : all .3s;
                                border-style    : none !important;

                                &:hover {
                                    border-color    : #3a4c54;
                                    background-color: #3a4c54;
                                    color           : $white;
                                    box-shadow      : none;
                                }
                                @include min-sm {
                                    width         : 250px;
                                }
                            }
                        }
                    }
                }

                .table {
                    padding-top: 1rem;
                    color      : #7b858a;
                    line-height: 1.92;
                    display    : none;

                    .tittle {
                        ul {
                            margin-top     : -2rem;
                            margin-bottom  : 2.5rem;
                            list-style-type: none;
                            padding        : 0;

                            li {
                                padding      : 2rem 0 1rem;
                                border-bottom: 1px solid #dae2e6;
                                color        : #7b858a;
                                line-height  : 1.92;
                                font-family  : poppians sans-serif;
                                font-weight  : 400;
                                font-size    : 1.1rem;
                            }
                        }
                    }

                    .add-product-review {
                        h3 {
                            color         : #141a1f;
                            font-weight   : 400;
                            letter-spacing: 0;
                            line-height   : 1.1;
                            margin-bottom : 1.8rem;
                            font-family   : 'Poppins', sans-serif;
                            font-size     : 1.1rem;
                        }

                        p {
                            font-family: 'Poppins', sans-serif;
                            font-size  : 1.1rem;
                        }

                        form {
                            margin-bottom: 0;

                            table {
                                width         : 100%;
                                margin        : 20px 0 40px;
                                border        : 1px solid #dae2e6;
                                border-spacing: 0;
                                font-size     : 100%;
                                empty-cells   : show;

                                thead {
                                    // padding      : .8rem 1.5rem;
                                    background-color: #f6f6f6;
                                    color           : #777;
                                    font-size       : 12px;
                                    font-weight     : 600;
                                    text-align      : center;
                                    text-transform  : uppercase;
                                    white-space     : nowrap;
                                    vertical-align  : middle;
                                    /* border-right : 1px solid #dae2e6; */
                                    /* border-bottom: 1px solid #dae2e6; */
                                    line-height     : 1;
                                    font-family     : "poppins", sans-serif;

                                    tr {
                                        th {
                                            // padding    : 0.6rem 1rem;
                                            border-#{$end}: 1px solid #dee2e6;
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        td {
                                            font-weight   : 700;
                                            text-align    : center;
                                            /* padding    : 1.5rem 1rem; */
                                            font-size     : 0.9rem;
                                            font-family   : 'Poppins', sans-serif;
                                            // padding    : 0.6rem 1rem;
                                            border-#{$end}: 1px solid #dee2e6;


                                        }

                                        td.td-radio {
                                            padding: 0 !important;
                                        }

                                        .form-check {
                                            display        : flex;
                                            justify-content: center;
                                            padding        : 0;
                                            align-items    : center;
                                            height         : 100%;

                                        }

                                        .form-check input {
                                            margin: 0;
                                        }

                                        .form-check .form-check-label {
                                            width : 100%;
                                            color : $white;
                                            height: 100%;
                                        }

                                        input {
                                            width: 100%;
                                        }

                                        .mean {
                                            text-align: $start;
                                        }

                                        td:nth-child(1) {
                                            padding-right : 75px;
                                            /* padding-top: 5px; */
                                            text-align    : left;
                                            padding-top   : 8px;
                                            padding-bottom: 8px;
                                            font-size     : 13px;
                                            padding-left  : 12px;
                                        }
                                    }
                                }
                            }

                            .form-group {
                                margin-bottom: 1.4rem;

                                .label {
                                    margin     : 0 0 .6rem;
                                    color      : #585d63;
                                    font-size  : 1.1rem;
                                    font-weight: 400;
                                    font-family: 'Poppins', sans-serif;

                                    span {
                                        color    : #e02b27;
                                        font-size: 1rem;

                                    }
                                }

                                input {
                                    /* padding      : 1.2rem 1.5rem; */
                                    font-size       : 1.3rem;
                                    background-color: $white;
                                    display         : block;
                                    border-radius   : 0;
                                    color           : #646a70;
                                    font-family     : "Poppins", sans-serif;
                                    font-size       : 1.4rem;
                                    font-weight     : 400;
                                    /* height       : 4.8rem; */
                                    line-height     : 1.5;
                                    margin-bottom   : 1rem;
                                    max-width       : 480px;
                                    /* padding      : 1.25rem 1.5rem; */
                                    transition      : all .3s;
                                }
                            }

                            .message {
                                margin-bottom: 2rem;

                                textarea {
                                    width     : 480px;
                                    min-height: 176px;
                                    padding   : 1.2rem 1.5rem;
                                    font-size : 1.3rem;
                                    display   : block;
                                }
                            }

                            .btn {
                                font-size       : 0.9rem;
                                line-height     : 1.5;
                                font-family     : "Oswald", sans-serif;
                                letter-spacing  : .075rem;
                                text-transform  : uppercase;
                                border-radius   : 0;
                                min-width       : 124px;
                                padding         : 0.3rem 0.2rem 0.5rem;
                                transition      : all .3s;
                                border-color    : #29363c;
                                background-color: #29363c;
                                color           : $white;
                                box-shadow      : none;

                                &:hover {
                                    border-color    : #3a4c54;
                                    background-color: #3a4c54;
                                    color           : $white;
                                    box-shadow      : none;
                                }
                            }
                        }
                    }

                }


            }
        }
    }

    // sidebar product 
    .mini-sidebar {
        position              : fixed;
        #{$start}             : 0;
        top: 100px;
        width                 : 40px;
        height                : 40px;
        transition            : all .2s ease-in-out 0s;
        border                : #dcdcda solid 1px;
        border-#{$start}-width: 0;
        background            : $white;
        font-size             : 17px;
        line-height           : 38px;
        text-align            : center;
        cursor                : pointer;
        z-index               : 999;
        display               : none;

        svg {
            font-size: 0.9rem;
            color    : #555555;
        }
    }

    .mini-sidebar-show {
        display: block !important;
    }

    .sidebar-product {
        margin-bottom    : 2.8rem;
        padding-#{$start}: 35px;

        .sidebar-right {
            height: auto;

            .last-sidebar {
                border-bottom: 0px none rgb(100, 106, 112);
                width        : 282.25px;

                .widget-brand {
                    margin-bottom   : 2.5rem;
                    padding         : 0;
                    margin-#{$end}  : auto;
                    margin-#{$start}: auto;
                    text-align      : center;
                    display         : -ms-flexbox;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    margin-top      : .5rem;

                    a {
                        margin-#{$end}  : auto;
                        margin-#{$start}: auto;
                        display         : block;

                        img {
                            max-width: 100%;
                            height   : auto;
                            display  : block;
                        }
                    }
                }

                .widget-info {
                    ul {
                        list-style-type: none;
                        margin         : 0;
                        padding        : 0;

                        li {
                            display       : flex;
                            padding-bottom: 2rem;
                            border-top    : 1px solid #dee5e8;
                            line-height   : 1;
                            padding-top   : 1.8rem;

                            svg {
                                min-width     : 40px;
                                margin-#{$end}: 15px;
                                font-size     : 29px;
                            }

                            h4 {
                                margin-bottom : 0;
                                color         : #6b7a83;
                                font-family   : "Poppins", sans-serif;
                                text-transform: uppercase;
                                white-space   : nowrap;
                                overflow      : hidden;
                                font-weight   : 600;
                                font-size     : 15px;
                            }
                        }
                    }
                }

                .widget-banner {
                    margin-bottom: 4.6rem;
                    padding-top  : 4rem;
                    border-top   : 1px solid #dfdfdf;

                    .banner-img {
                        display         : block;
                        position        : relative;
                        margin-bottom   : 0;
                        background-color: #c1c1c1;

                        a {
                            display : block;
                            position: relative;

                            img {
                                display  : block;
                                width    : 100%;
                                max-width: none;
                                height   : auto;
                            }
                        }
                    }
                }

                .widget-featured {
                    position: relative;

                    h3 {
                        margin             : 0;
                        color              : #21293c;
                        font-family        : "Poppins", sans-serif;
                        letter-spacing     : 0.05em;
                        text-transform     : uppercase;
                        border-bottom-width: 1px;
                        font-weight        : 600;
                        font-size          : 13px;
                        margin-bottom      : 8px;
                    }

                    .widget-body {
                        padding-#{$start}: 0;
                        padding-top      : 0.7rem;

                        .owl-products {
                            .owl-dots {
                                display: none;
                            }

                            .owl-nav {
                                display  : block;
                                position : absolute;
                                top      : -66px;
                                #{$end}  : 14px;
                                font-size: 1rem;

                                button {
                                    outline: 0;

                                    span {
                                        font-size: 1.9rem;

                                    }

                                    &:hover {
                                        background: none;
                                        color     : #000;
                                    }
                                }
                            }

                            .featured-col {
                                .product-default {
                                    display      : flex;
                                    margin-bottom: 15px;

                                    figure {
                                        max-width     : 84px;
                                        margin-#{$end}: 20px;
                                        margin-bottom : 0;

                                        img {
                                            opacity : 1;
                                            width   : 100%;
                                            position: relative;
                                        }

                                    }

                                    .product-title {
                                        letter-spacing: -.01em;
                                        line-height   : 1.35;
                                        margin-bottom : .12rem;
                                        text-overflow : ellipsis;
                                        overflow      : hidden;
                                        font-size     : 0.9rem;
                                        font-weight   : 400;
                                        font-family   : "poppins", sans-serif;

                                        a {
                                            color: #777;
                                        }
                                    }

                                    .ratings-container {
                                        margin-bottom : 3px;
                                        line-height   : 1;
                                        // margin     : 0 0 10px 1px;
                                        cursor        : pointer;
                                        // display    : inline-block;
                                        letter-spacing: -3px;

                                        svg {
                                            color    : #465157;
                                            font-size: 12px;
                                        }
                                    }

                                    .price-box {
                                        margin-bottom: 0;

                                        span {
                                            color      : #465157;
                                            font-family: "Poppins", sans-serif;
                                            font-weight: 600;
                                            font-size  : 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media(max-width:1024px) {
    .product {
        .product-gallary {
            .slider-product {
                .owl-dot {
                    width : 90px !important;
                    height: 90px !important;
                }
            }
        }
    }

}

.product-taps {
    margin-bottom: 1.5rem !important;

    .artical-tab {
        ul {
            padding-#{$start}: 2rem !important;
            li {
                svg {
                    margin-#{$end}: 2px !important;

                }
            }
        }
    }

    .tags {
        .product-tags-content {
            form {
                h4 {
                    font-size    : 1rem !important;
                    margin-bottom: 1rem !important;
                }

                .form-group {
                    input {
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .table {
        .tittle {
            ul {
                margin-bottom    : 1rem;
                padding-#{$start}: 0 !important;
            }
        }

        .add-product-review {
            h3 {
                margin-bottom: 1rem !important;
                margin-top   : 1.5rem !important;
            }

            p {
                font-size: 0.9rem !important;
            }

            .table-rating {

                tbody {
                    tr {
                        td {
                            padding  : 0;
                            height   : 40px !important;
                            max-width: 15px;
                        }

                    }
                }
            }

            .message {
                textarea {
                    width  : 100% !important;
                    outline: none !important;
                }
            }
        }
    }

    .size {
        .img {
            img {
                width: 100%;
            }
        }

        .table-size {
            table {
                width: 100%;

                .table-size__head {
                    background    : #f4f4f2;
                    text-transform: uppercase;
                    color         : #21293c;
                    font-size     : 14px;

                    tr {
                        th {
                            padding    : 30px 0 30px 10px;
                            font-weight: 600;
                            font-family: "poppins", sans-serif;
                            text-align : center;
                        }
                    }
                }

                .table-size__body {
                    text-transform: uppercase;
                    color         : #21293c;
                    font-size     : 14px;

                    tr {
                        td {
                            padding     : 8px;
                            padding-left: 30px;
                            text-align  : center;
                            font-weight : 600;
                            font-family : "poppins", sans-serif;

                        }

                        &:nth-child(even) {
                            background: #f4f4f2;
                        }
                    }
                }
            }
        }
    }
}


///////////////////////////////////
// slidebar-left /////
.translate-body {
    position: relative;
    overflow: hidden;

    .slide-left {
        display         : block;
        position        : fixed;
        top             : 0;
        bottom          : 0;
        #{$start}       : -215px;
        width           : 200px;
        background-color: $white;
        z-index         : 9999;
        overflow-y      : auto;
        transform       : translate(0);
        transition      : all .3s;
        margin          : 0;
        padding         : 1.1rem;
        padding-top     : 2.5rem;

        .last-sidebar {
            .widget-brand {
                margin-bottom: 2rem;
            }

            .widget-info {
                margin-bottom : 1rem;
                padding-bottom: 0;

                ul {
                    margin    : 0;
                    padding   : 0;
                    list-style: none;

                    li {
                        padding-top   : 1.8rem;
                        padding-bottom: 2rem;
                        border-top    : 1px solid #dee5e8;
                        line-height   : 1;
                        display       : flex;

                        svg {
                            min-width     : 30px;
                            margin-top    : .3rem;
                            margin-#{$end}: 0.7rem;
                            color         : #29363c;
                            font-size     : 1.5rem;
                        }

                        h4 {
                            margin-bottom : 0;
                            color         : #6b7a83;
                            font-family   : "Poppins", sans-serif;
                            text-transform: uppercase;
                            font-size     : 0.9rem;
                            font-weight   : 600;
                        }
                    }
                }
            }

            .widget-banner {
                margin-bottom: 4.6rem;
                padding-top  : 4rem;
                border-top   : 1px solid #dfdfdf;

                .banner-img {
                    margin-bottom   : 0;
                    background-color: #c1c1c1;

                    img {
                        width : 100%;
                        height: auto;
                    }
                }
            }

            .widget-featured {
                h3 {
                    font-size  : 1rem;
                    font-weight: 600;
                    color      : #21293c;
                    font-family: "Poppins", sans-serif;
                }

                .widget-body {
                    padding-#{$start}: 0;
                    padding-top      : 1.2rem;

                    .product-widget {
                        display      : flex;
                        margin-bottom: 15px;

                        figure {
                            margin-#{$end}: 20px;
                            margin-bottom : 0;
                            display       : block;
                        }

                        .product-details {
                            h2.product-title {
                                font-size    : 0.8rem;
                                margin-bottom: 0.1rem;

                                a {
                                    color          : #777;
                                    text-decoration: none;
                                }
                            }

                            .ratings-container {
                                svg {
                                    font-size: 0.7rem;
                                    color    : #6a6a6d;
                                }
                            }

                            .product-price {
                                span {
                                    color      : #465157;
                                    font-family: "Poppins", sans-serif;
                                    font-size  : 1rem;
                                    font-weight: 600;

                                }
                            }
                        }

                    }

                    .owl-dot {
                        display: none;
                    }

                    .owl-nav {
                        display : block;
                        position: absolute;
                        top     : -76px;
                        #{$end} : -18px;

                        button {
                            font-size : 30px;
                            color     : #000;
                            background: transparent;
                            outline   : none;

                        }
                    }

                }
            }
        }
    }
}








/////////////////////////////////////
.zoomImg {
    width               : 80% !important;
    height              : 80% !important;
    transform           : scale(1.5) !important;
    // transition       : 0.2s;
    // background-repeat:no-repeat ;
}

.owl-dot-cover.active {
    border: 2px solid #000 !important;
}