/////////////////////////////////////  body //////////////////////////////
.products {
    .container {
        max-width: 1200px;

        .all-table {
            margin-bottom: 6rem;

            .cart-table-cotainer {
                display       : flex;
                text-transform: capitalize;

                .product {
                    width         : 40%;
                    padding       : 2.4rem 1.5rem 1.2rem;
                    border        : 0;
                    font-weight   : 600;
                    color         : #646a70;
                    padding-bottom: 0.2rem;

                    h6 {
                        font-family: "poppins", sans-serif;
                        font-size  : 0.9rem;
                        font-weight: 600;
                    }

                }

                .price,
                .qty,
                .total {
                    width         : 20%;
                    padding       : 2.4rem 1.5rem 1.2rem;
                    border        : 0;
                    font-weight   : 600;
                    text-align    : center;
                    color         : #646a70;
                    padding-bottom: 0.2rem;

                    h6 {
                        font-family: "poppins", sans-serif;
                        font-size  : 0.9rem;
                        font-weight: 600
                    }

                }
            }

            .body {
                //border-top: 1px solid #c1c1c1;//
                padding-top : 15px;

                .first-body__describtion {
                    display    : flex;
                    border-top : 1px solid #c1c1c1;
                    padding-top: 24px;

                    .product {
                        width         : 40%;
                        display       : flex;
                        /* padding    : 2rem .8rem 1.8rem 0; */
                        text-align    : center;
                        vertical-align: middle;
                        align-items   : center;

                        .img {
                            // margin-right: 1.8rem;
                            margin-bottom  : 0;
                            z-index        : 5555;
                            max-width      : 190px;
                            margin-#{$end} : 1rem;
                            z-index        : 0;

                            img {
                                width : 100%;
                                border: 1px solid #c1c1c1;
                                height: auto;
                            }
                        }

                        .product-title {
                            font-size     : 1.3rem;
                            text-align    : center;
                            vertical-align: middle;
                            text-transform: capitalize;

                            h2 {
                                margin-bottom: 0;
                                font-size    : 1.4rem;

                                a {
                                    color         : #65829d;
                                    font-size     : 1.1rem;
                                    font-weight   : 400;
                                    letter-spacing: 0;
                                    line-height   : 1.1;
                                    transition    : 0.3s;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                    .price {
                        width         : 20%;
                        text-align    : center;
                        align-items   : center;
                        vertical-align: middle;
                        padding       : 5rem 1.5rem;
                        transform     : translateY(15px);

                        p {
                            vertical-align: middle;
                            color         : #646a70;
                            font-weight   : 400;
                            font-size     : 0.9rem;
                            font-family   : "poppins", sans-serif;
                            margin        : 0;
                        }
                    }

                    .qty {
                        width          : 20%;
                        align-items    : center;
                        vertical-align : middle;
                        padding        : 5rem 2.1rem;
                        display        : flex;
                        justify-content: center;
                        margin-bottom  : auto;

                        .input {
                            border-color: #ccc;
                            outline     : 0;
                            width       : 46px;
                            height      : 43px;
                            text-align  : center;
                            color       : #646a70;
                            font-family : "Poppins", sans-serif;
                            font-size   : 15px;
                            font-weight : 400;
                            border-style: none;
                            border      : 1px solid #d1d1d1;
                        }

                        .buttons {
                            display         : flex;
                            flex-direction  : column;
                            text-align      : center;
                            margin-#{$start}: 3px;

                            button {
                                text-align  : center;
                                width       : 19px;
                                height      : 19px;
                                position    : relative;
                                background  : transparent;
                                border-style: none;
                                border      : 1px solid #d1d1d1;

                                svg {
                                    text-align : center;
                                    line-height: 1;
                                    position   : absolute;
                                    #{$start}  : 3px;
                                    font-size  : 15px;
                                    color      : #d1d1d1;
                                }
                            }

                            .plus {
                                margin-#{$start}: -1px;
                                cursor          : pointer;
                                transition      : 0.3s;

                                svg {
                                    top      : 5px;
                                    #{$start}: 4px;
                                }

                                &:hover {
                                    border-color    : #29363c;
                                    background-color: $white;
                                    color           : #65829d;
                                    box-shadow      : none;

                                    svg {
                                        color: #65829d;
                                    }
                                }


                            }

                            .minus {
                                margin-top      : 2px;
                                margin-#{$start}: -1px;
                                cursor          : pointer;
                                transition      : 0.3s;

                                svg {
                                    top      : -2px;
                                    font-size: 15px;
                                    #{$start}: 4px;
                                }

                                &:hover {
                                    border-color    : #29363c;
                                    background-color: $white;
                                    color           : #65829d;
                                    box-shadow      : none;

                                    svg {
                                        color: #65829d;
                                    }
                                }
                            }
                        }
                    }

                    .total {
                        width            : 20%;
                        text-align       : center;
                        -webkit-box-align: center;
                        -ms-flex-align   : center;
                        align-items      : center;
                        vertical-align   : middle;
                        padding          : 5rem 1.5rem;
                        transform        : translateY(15px);

                        p {
                            vertical-align: middle;
                            color         : #646a70;
                            font-weight   : 400;
                            font-size     : 0.9rem;
                            font-family   : "poppins", sans-serif;
                            margin        : 0;
                        }

                    }
                }

                .body__footer {
                    padding: 20px 0 1.1rem;
                    display: flex;

                    div {
                        width: 50%;

                        a {
                            line-height: 2.5rem;
                            color      : #29363c;
                            font-size  : 0.8rem;
                            font-weight: 400;
                            font-family: "poppins", sans-serif;
                            transition : 0.3s;
                        }
                    }

                    .fonts {
                        text-align: $end;
                        width     : 50%;

                        a {
                            font-size: 16px;
                            margin   : 0;
                            position : relative;

                            .remove {
                                position      : absolute;
                                width         : 110px;
                                #{$start}     : 0;
                                font-size     : 12px;
                                border        : 1px solid #000;
                                text-transform: capitalize;
                                top           : 21px;
                                line-height   : 1.5;
                                z-index       : 1;
                                text-align    : center;
                                background    : $white;
                                opacity       : 0;
                                visibility    : hidden;
                                transition    : 0.3s;
                            }

                            &:hover {
                                .remove {
                                    opacity   : 1;
                                    visibility: visible;
                                }
                            }

                        }

                    }
                }


            }

            @media(max-width:992px) {
                .body {
                    padding: 0 !important;

                    .first-body {
                        padding-top: 0px !important;

                        .price {
                            margin   : 0;
                            transform: translateY(0px);

                            p {
                                font-size: 15px !important;
                            }

                            .qty {
                                width: 31% !important;
                            }

                            .total {
                                p {
                                    font-size: 15px !important;

                                }
                            }
                        }

                        ;
                    }

                    ;

                    .body__footer {
                        padding-top   : 6px !important;
                        padding-bottom: 6px !important;

                        div {
                            a {
                                font-size: 14px !important;
                            }
                        }

                        .fonts {
                            line-height: 2rem;

                            svg {
                                font-size: 12px;
                            }
                        }
                    }
                }

            }

            .footer {
                border-top: 1px solid #c1c1c1;

                .buttons {
                    display      : flex;
                    margin-bottom: 2.1rem;
                    margin-top   : 1.3rem;

                    .left-button {
                        width: 40%;

                        .btn {
                            font-family     : "Poppins", sans-serif;
                            font-size       : 0.9rem;
                            font-weight     : 400;
                            letter-spacing  : 0;
                            text-transform  : capitalize;
                            color           : #777;
                            background-color: $white;
                            background-image: none;
                            border-color    : #ccc;
                            transition      : 0.3s;
                            display         : inline-block;
                            padding         : 12px 12px;
                            border-radius   : 0;

                            &:hover {
                                border-color    : #29363c;
                                background-color: #29363c;
                                color           : $white;
                            }
                        }
                    }

                    .right-button {
                        width     : 60%;
                        text-align: $end;

                        .btn {
                            display         : inline-block;
                            padding         : 12px 12px;
                            border-radius   : 0;
                            font-family     : "Poppins", sans-serif;
                            font-size       : 0.9rem;
                            font-weight     : 400;
                            letter-spacing  : 0;
                            text-transform  : capitalize;
                            color           : #777;
                            background-color: $white;
                            background-image: none;
                            border-color    : #ccc;
                            @include max-sm{
                                width: 100%;
                            }
                            &:hover {
                                border-color    : #29363c;
                                background-color: #29363c;
                                color           : $white;
                            }

                        }
                    }
                }

                .discount {
                    h4 {
                        margin-bottom: 0.9rem;
                        font-family  : "poppins", sans-serif;
                        font-size    : 1.1rem;
                        font-weight  : 400;
                    }

                    .input {
                        position: relative;

                        input {
                            height     : 2.9rem;
                            padding    : 1.2rem 1.5rem;
                            font-family: "poppins", sans-serif;
                            font-size  : 0.9rem;
                            outline    : 0;
                            /*width      : 350px;*/
                        }

                        .btn {
                            padding         : 0.8rem 0.8rem;
                            letter-spacing  : 1px;
                            min-width       : 90px;
                            position        : absolute;
                            #{$end}         : 38%;
                            border-radius   : 0;
                            border-color    : #29363c;
                            background-color: #29363c;
                            color           : $white;
                            font-family     : "poppins", sans-serif;
                            font-size       : 0.8rem;

                        }

                    }
                }


            }

        }

    }

    @media(max-width:320px) {
        .footer {
            .buttons {
                margin-top: 5px !important;
            }

            .right-button {
                text-align   : center !important;
                border-radius: 0 !important;
            }
        }

        .discount {
            h4 {
                padding  : 0 !important;
                font-size: 0.9rem !important;
            }

            .input {
                input {
                    width            : 100% !important;
                    font-size        : 0.8rem !important;
                    padding-#{$start}: 11px !important;
                }
            }
        }
    }

    .Summary {
        margin-top: 30px;
        .cart {
            margin-bottom : 2.5rem;
            padding       : 1.4rem 1.8rem 2.2rem;
            border        : 1px solid #ddd;
            background    : #fbfbfb;
            padding-bottom: 23px;

            h3 {
                margin-bottom : 1rem;
                font-family   : "poppins", sans-serif;
                font-size     : 25px;
                color         : #141a1f;
                font-weight   : 300;
                letter-spacing: 0;
                line-height   : 1.1;
            }

            .dropdown {
                .up {
                    display  : none;
                    transform: translateY(7px);

                }

                h4 {
                    font-size     : 1.2rem;
                    font-weight   : 600;
                    border-top    : 1px solid #cccccc;
                    margin-bottom : 0;
                    letter-spacing: 0;
                    line-height   : 1.1;
                    color         : #141a1f;

                    a {
                        display        : flex;
                        justify-content: space-between;
                        color          : #141a1f;
                        padding        : 0.4rem 1rem 1rem 0.3rem;
                        text-transform : capitalize;
                        font-family    : "poppins", sans-serif;
                        font-weight    : 600;
                        font-size      : 0.9rem;
                        margin-top     : 4px;

                    }
                }
                .link {
                    &:not(.collapsed) {
                        .fa-angle-down {
                            transform: rotate(180deg);
                        }
                    }
                }

                .summary__body {
                    background: none;

                    .child {
                        transition   : 5s;
                        margin-bottom: 0;
                        padding      : .7rem 0 2.2rem;

                        p {
                            margin     : 0 0 .6rem;
                            color      : #585d63;
                            font-weight: 400;
                            font-family: "poppins";
                            font-size  : 15px;
                        }

                        form {
                            .select {
                                height           : 3rem;
                                border           : 1px solid #e6e6e6;
                                padding-#{$end}  : 4rem;
                                margin-bottom    : 0.9rem;
                                padding          : 0.2rem 1.2rem;
                                background-color : $white;
                                border-radius    : 0;
                                line-height      : 1.5;
                                display          : block;
                                width            : 95%;
                                color            : #585d63;
                                font-weight      : 400;
                                outline          : 0;
                                padding-#{$start}: 10px;
                                font-family      : "poppins", sans-serif;
                                font-size        : 0.9rem;
                            }
                        }

                        .child_choice {
                            font-size: 15px;

                            p {
                                margin: 0px 0 5px;
                            }

                            .checkbox {
                                display : flex;
                                position: relative;

                                input {
                                    display: none;

                                    &:checked {
                                        &~.check-box__label {
                                            &::after {
                                                content     : '';
                                                #{$start}   : 10px;
                                                top         : 7px;
                                                position    : absolute;
                                                width       : 5px;
                                                height      : 10px;
                                                border      : solid white;
                                                border-width: 0 3px 3px 0;
                                                transform   : rotate(45deg);
                                                display     : block;
                                            }

                                            &::before {
                                                background: #000 !important;
                                            }

                                        }
                                    }
                                }

                                label {
                                    display    : flex;
                                    font-family: "poppins", sans-serif;
                                    color      : #585d63;
                                    font-weight: 400;
                                    font-size  : 15px;

                                    &::before {
                                        content       : '';
                                        width         : 20px;
                                        height        : 20px;
                                        display       : inline-block;
                                        border        : solid white;
                                        margin-#{$end}: 10px;
                                        background    : $white !important;
                                        transition    : 0.3s;
                                        border        : 1px solid #ddd;
                                    }

                                }

                            }
                        }
                    }
                }

            }

            .prices {
                border-top: 1px solid #ccc;
                display   : flex;

                .word {
                    padding-top: 1rem;
                    width      : 52%;
                    color      : #646a70;
                    font       : normal;
                    font-weight: 500;
                    font-size  : 0.9rem;
                    font-family: "Poppins", sans-serif;
                }

                .price {
                    text-align : $end;
                    padding-top: 1rem;
                    width      : 50%;
                    color      : #646a70;
                    font-weight: 500;
                    font-weight: 500;
                    font-size  : 0.9rem;
                    font-family: "Poppins", sans-serif;
                }

            }

            .taxes {
                border       : none;
                margin-bottom: 0.7rem;
            }

            .total {
                .word {
                    padding-top   : 1rem;
                    padding-bottom: 1.6rem;
                    font-size     : 1.3rem;
                    font-weight   : 400;
                    font-size     : 1.3rem;
                    font-family   : "poppins", sans-serif;
                }

                .price {
                    font-weight   : 600;
                    color         : #141a1f;
                    padding-top   : 1rem;
                    padding-bottom: 1.6rem;
                    font-size     : 1.3rem;
                    font-family   : "poppins", sans-serif;
                }
            }

            .check-out {
                width     : 100%;
                margin-top: 13px;
                text-align: center;

                a:nth-child(1) {
                    padding         : 0.7rem 1.1rem;
                    font-family     : "oswald", sans-serif;
                    font-size       : 0.8rem;
                    font-weight     : 400;
                    letter-spacing  : 1px;
                    min-width       : 90px;
                    border-color    : #29363c;
                    background-color: #29363c;
                    color           : $white;
                    display         : block;
                    text-align      : center;
                    text-decoration : none;

                    &:hover {
                        border-color    : #3a4c54;
                        background-color: #3a4c54;
                        color           : $white;
                        box-shadow      : none;
                    }

                }

                a:nth-child(2) {
                    text-align : center;
                    margin-top : 19px;
                    display    : inline-block;
                    font-size  : 13px;
                    color      : #6591c4;
                    font-family: "poppins", sans-serif;
                    transition : 0.3s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@include max-md {
    .products {
        .all-table {
            margin-bottom: 2rem !important;

            .head {
                display: none !important;
            }

            .body {
                border    : none !important;
                margin-top: 0.7rem !important;

                .first-body {
                    display   : inherit !important;

                    .product {
                        width     : 100% !important;
                        flex      : 0 0 auto !important;
                        display   : grid !important;
                        margin-top: 15px !important;

                        .img {
                            padding    : 0 !important;
                            text-align : center !important;
                            align-items: center !important;
                            margin     : auto !important;
                        }
                    }

                    .price {
                        width     : 100% !important;
                        margin-top: 8px !important;
                        padding   : .5rem 1rem !important;

                        p {
                            font-size: 1.1rem !important;
                        }
                    }

                    .qty {
                        text-align      : center !important;
                        align-items     : center !important;
                        padding         : .5rem 1rem !important;
                        margin-top      : 0px !important;
                        margin-#{$end}  : auto !important;
                        margin-#{$start}: auto !important;

                        .input {
                            margin-#{$start}: auto !important;

                            .buttons {
                                margin-#{$start}: 5px !important;
                                margin-#{$end}  : auto !important;
                            }
                        }
                    }

                    .total {
                        padding   : .5rem 1rem !important;
                        width     : 100% !important;
                        transform : translateY(0px) !important;
                        margin-top: 0px !important;

                        p {
                            font-size : 1.1rem !important;
                            margin-top: 8px !important;
                        }
                    }
                }

                .body__footer {
                    transform  : translateY(0) !important;
                    padding-top: 25px !important;

                    a {
                        font-size: 0.9rem !important;
                    }

                    .fonts {
                        span {
                            font-size: 0.9rem !important;
                        }
                    }
                }
            }

            .footer {
                .left-button {
                    display: none !important;
                }

                .right-button {
                    width: 100% !important;

                    a {
                        margin-top       : .5rem !important;
                        border-radius    : 0;
                        padding-#{$end}  : 10px !important;
                        padding-#{$start}: 10px !important;
                        padding-top      : 11px !important;
                        padding-bottom   : 8px !important;
                        
                    }
                }

                .discount {
                    h4 {
                        margin-top       : .5rem !important;
                    }

                    .input {
                        .btn {
                            #{$end}: 0 !important;
                            top: 0;
                        }
                    }
                }
            }



        }
    }

}