.thanks {
    .check-out {
        .title {
            p {
                color: #989ea9;
                font-family: "Open+Sans", sans-serif;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .data {
            ul {
                list-style: inside;
                li {
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #919396;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        .payment {
            font-size: 15px;
            font-weight: 500;
            font-family: "Open+Sans", sans-serif;
            color: #989ea9;
            text-transform: capitalize;
            margin-top: 20px;
        }
        .details {
            h1 {
                font-size: 24px;
                font-family: "poppins", sans-serif;
                font-weight: 600;
            }
            .reciept-details {
                table {
                    width: 100%;
                    .table-head {
                        text-transform: capitalize;
                        font-size: 13px;
                        color: #919396;
                        background: #efefef;
                        border: 1px solid #ddd;
                        th {
                            padding: 7px;
                        }
                    }
                    tr {
                        text-transform: capitalize;
                        font-size: 13px;
                        color: #919396;
                        border: 1px solid #ddd;
                        td {
                            padding: 5px;
                        }
                        td:nth-child(1) {
                            background: #efefef;
                            font-weight: 600;
                            border-#{$end}: 1px solid #ddd;
                            transition: 0.3s;
                            &:hover {
                                background: #fff;
                            }
                        }
                        td:nth-child(2) {
                            font-size: 12px;
                            font-family: "poppins", sans-serif;
                            font-weight: 400;
                            span {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}

