.whish-list {
    .whish-list__info {
        
        .whish-list__info__left, .whish-list__info__right {
            padding: 30px 0;
            width:100%;
            h1 {
                font-size: 25px;
                text-transform: capitalize;
            }
            ul {
                
                li {
                    padding:2px 0;
                }
            }
            @include min-sm {
                width:50%;
            }
        }
    }


    .wishlist__table-section {
        .wishlist__table-section__table {
            width: 100%;
            .wishlist__table-section__table__head {
                tr {
                    
                    background: #252525;
                    height: 40px;
                    line-height: 41px;
                    th {
                        padding: 0 10px;
                        color: $white;
                        font-size: 12px;
                        font-weight: 400;
                        text-transform: capitalize;
                        @include min-md {
                            font-size: 16px;
                        }
                    }
                }
            }
            .wishlist__table-section__table__body {
                tr {
                    border-bottom:1px solid #ddd;
                    .wishlist__table-section__table__body__img {
                        div {
                            @include min-md {
                                display: inline-block;
                            }
                        }
                    }
                    td {
                        padding: 0 10px;
                        padding-bottom: 10px;
                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: contain;
                        }

                        
                    }
                }
                
            }
        }
    }

    .whish-list__product-info {
        
        .whish-list__product-info__cart {
            padding-top: 30px;
            padding-bottom: 10px;
            
            width: 100%;
            @include min-sm {
                width:50%;
            }
            @include min-md {
                width: 30%;
            }
            .whish-list__product-info__cart__list {
                padding: 5px 0;
            }
        }
    }

    .whish-list__payment {
        .whish-list__payment__content {

            border-top: 1px solid #ddd;
            padding-top: 20px;
            padding-bottom: 30px;

            .place-order {
                background-color: #252525;
                color: $white;
                padding: 8px 10px;
                text-transform: capitalize;
            }
            label {
                padding-#{$end}: 5px;
            }
        }
    }
}