body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: $start;
    background-color: $white;
    
}



#exzoom {
    
    @media (min-width: 319px) {
        width: 200px;
        margin: auto;
    }

    @media (min-width: 425px) {
        width: 250px;
        margin: auto;
    }

    @media (min-width: 767px) {
        width: 400px;
        margin: auto;
    }
}