ul, ol {
    list-style: none;
    padding:0;
    margin:0;
}

.exzoom_nav_inner {
    justify-content: flex-start !important;
}
label {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

input[type="number"] {
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    outline: none !important;
    box-shadow: none !important;
    border:none;
    background:none;
    &:focus {
        outline: none !important;
    }
}

.card-body {
    padding: 0;
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid #ddd;
}

.container {
    @media (min-width: 1280px) {
        max-width: 1200px;
    }
}

.form-control {
    border: 1px solid #ddd;
    padding: 0 0 0 5px !important;
    padding-#{$start}: 4px;
    border-radius: 0 !important;
    &:focus {
        box-shadow: none !important;
        border: 1px solid #ddd !important;;
    }
}

.modal-content {
    border-radius: 0 !important;
}


.exzoom .exzoom_nav .exzoom_nav_inner span {
    border: 1px solid #222;
    width: 100px !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ddd !important;
    &:nth-child(1) {
        margin:0 !important;
    }
    &.current {
        border:2px solid #333 !important;
    }
}
.exzoom .exzoom_nav .exzoom_nav_inner {
    width:100% !important;
    display: flex;
    justify-content: space-between;
}
.exzoom .exzoom_nav {
    #{$start}:0;
    height: 100px !important;
}

.exzoom_img_box {
    margin-top: 5px;
}