.general-to-up {
    cursor: pointer;
    width: 40px;
    color: $white;
    z-index: 40;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 0;
    background: #404040;
    span {
        &::before {
            content: '\e81b';
            font-family: 'porto';
        }
    }
    &:hover {
        background: #555;
    }
}

.general-add-new-item {
    button {
        cursor: pointer;
        color: $white;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #404040;
    }
}