.general-affiliate-form {
    input.form-group {
        .form-control {
            padding: 0 10px !important;
            border-radius: 45px !important;
        }
    }
    .general-avatar {
        width:150px;
        height:150px;
        border-radius: 50%;
        display: block;
    }
    input[type="file"] {
        display: none;
        & ~ label {
            margin: 30px 0 30px 0;
            padding: 6px 30px;
            border: 2px solid #222;
            border-radius: 25px;
            transition: .5s;
            cursor: pointer;
            &:hover {
                background: #222;
                color : $white;
                transition: .5s;
            }
        }
    }

    button[type="submit"] {
        cursor: pointer;
        background: #222;
        width: 150px;
        padding: 10px;
        border-radius: 45px;
        color:$white;
        font-size: 18px;
        text-transform: capitalize;
        transition: .5s;
        margin-bottom: 20px;
        &:hover {
            width: 180px;
            transition: .5s;
        }
    }
}