
.modal-product{
    .modal-content{
        width: 340px;
        #{$start}: 15%;
        margin-top: 100px;
    
    .modal-body{
        text-align: center;
        padding: 19px 10px 20px !important;
        p{
            font-family: "poppins",sans-serif;
        }
        h4{
            font-weight: 500;
            color: #29363c;
            margin-bottom: 0.7rem;
            font-family: "poppins",sans-serif;
            font-size: 1.5rem;
                }
                img{
                    width: 120px;
                    margin-#{$start}: auto;
                    display: block;
                    height: auto;
                    margin-#{$end}: auto;
                    padding-#{$start}: 15px;
                    padding-#{$end}: 15px;
                }
    }
    .modal-footer{
        .btn{
            width: 140px;
            padding: 8px 0;
            font: 500 16px "Poppins",sans-serif;
            border: none;
            cursor: pointer;
            color: $white;
            text-transform: capitalize;
            /* background: #000; */
            background-color: #29363c;
            color: $white !important;
            box-shadow: none;
            &:hover{
                background-color: #29363c;
            }
            a{
                color:$white;
            }
        }
    }
}
}


// modal of lay out 
.modal-login{
    // padding-right: 17px;
    // width: 900px;
    // left: 15%;
    // .modal-dialog{
    //     max-width: 872px;
    //     margin-top: 10%;
    // }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 872px;
            margin: 1.75rem auto;
        }
    }
    
    .modal-body-sections{
        width: 100%;
        position: relative;
        label {
            user-select: none;
        }
        h2{
            font-size: 15px;
            font-weight: 600;
            font-family: "poppins",sans-serif;
            font-weight: 600;
            line-height: 2;
            text-transform: uppercase;
            padding-bottom:16px;
        }

        form{
            display: flex;
            flex-direction: column;
            text-align: $start;
            text-transform: capitalize;
            font-size: 13px;
            color: #777;
            input{
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 13px 12px;
                margin-bottom: 20px;
            }
            span {
                &.error {
                    color: #f00;
                }
            }
        }

        .modal-body__login{
            padding-top: 30px;
            @media (min-width: 992px) {
                padding-#{$start}: 30px;
                padding-#{$end}: 25px;
            }
        }
        .modal-body__regester{
            padding-top: 30px;
            border-#{$start}: 1px solid #f5f6f6;
            @media (min-width: 992px) {
                padding-#{$start}: 30px;
                padding-#{$end}: 25px;
            }
        }
        .btn-secondary{
            background: $white;
            border-style: none;
            position: absolute;
            top:0;
            #{$end}:0;
            color: #646a70;
        }
    }
    .modal-footer{
        border:none;
        padding:0 !important;
        justify-content: flex-start !important;
        .btn{
            font-size: 12px;
            border-radius: 0 !important;
            width: 125px;
            padding: 12px 0;
            font-family: "Oswald",sans-serif;
            border: none;
            cursor: pointer;
            color: $white;
            text-transform: capitalize;
            background-color: #29363c;
            color: $white !important;
            box-shadow: none;
            &:hover{
                border-color: #3a4c54;
                background-color: #3a4c54;
            }
            a{
                color:$white;
            }
        }
    }

    .forgot-password {

        padding: 15px 0 35px 30px;
        a {
            color: #29363c;
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .remember-me {
        input {
            display: none;
            &:checked{
                & ~ .check-box__label{
                    &::after {
                        content: '';
                        #{$start}: 10px;
                        top: 13px;
                        position: absolute;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                        display: block;
                    }

                }
            }
        }
        .check-box__label{
            position: relative;
            &::before{
                content: '';
                border-color: #29363c;
                background-color: #29363c;
                width: 25px;
                height: 25px;
                display: inline-block;
                border: solid white;
                margin-#{$end}: 10px;
                position: relative;
                top: 7px;
        }
            }
        
        
    }

    .modal-login__footer-content {
        padding: 1.3rem 1rem 2.5rem;
        background-color: #f4f4f2;
        text-align: center;
        h1 {
            margin-bottom: 2rem;
            color: #121214;
            font-size: 11px;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        a {
            display: inline-block;
            margin: 10px 2px;
            font-family: Oswald;
            text-decoration: none;
            text-transform: uppercase;
            color:$white;
            font-size: 12px;
            letter-spacing: .025em;
            padding: 10px 25px;
            @media (min-width: 992px) {
                margin: 0 2px !important;
            }
            &:nth-child(1) {
                background: #dd4e31;
            }
            &:nth-child(2) {
                background:#3a589d;
            }
            &:nth-child(3) {
                background: #1aa9e1;
            }
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    margin: 0 7px 0 0;
                    font-size: 15px;
                }
            }
            
        }
    }
}


.whishlist-modal {
    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 900px !important;
        }
    }
    .modal-title {
        font-family: Open Sans,arial,serif;
        color: #333;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .modal-body {
        .whishlist-modal__title {
            color: #155724;
            font-family: Open Sans,arial,serif;
            font-size: 13px;
            text-transform: uppercase;
        }
        .whishlist-modal__warning {
            font-family: Open Sans,arial,serif;
            font-size: 10px;
            text-transform: uppercase;
        }
        .whishlist-modal__product__table {
            .general-select-number {
                span {
                    color :#8798a2 !important;
                    font-size: 9px !important;
                }
                input {
                    color :#000 !important;
                }
            }
            thead {
                @media (max-width:767px) {
                    display: none;
                }
                tr {
                    border: 2px solid #f5f6f6;
                    td {
                        
                        height: auto;
                        padding: 10px 0;
                        text-align: center;
                        color: #333;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        text-transform: uppercase;
                        border: 2px solid #f5f6f6;
                        &:last-child {
                            border: transparent;
                        }
                    }
                }
            }
            tbody {
                position: relative;
                @media (max-width:767px) {
                    display: block;
                    width:80vw;
                }
                tr {
                    @media (max-width:767px) {
                        display: block;
                    }
                    border: 2px solid #f5f6f6;
                    td {
                        
                        
                        @media (min-width:768px) {
                            height: 200px;
                            border-#{$end}: 2px solid #f5f6f6;
                        }

                        @media (max-width:767px) {
                            display: block;
                        }


                        &:nth-child(1) {
                            img {
                                width: 100px;
                                height: 100px;
                                position: relative;
                                #{$start}:0;
                                top:0;
                                @media (min-width:768px) {
                                    width: 100% !important;
                                    height: 100% !important;
                                    position: static !important;
                                }
                            }
                        }
                        &:nth-child(2) {
                            a {
                                display: block;
                                color: #777;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                        &:nth-child(3) {
                            span {
                                display: block;
                                color: #777;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }

                        &:last-child {
                            position: absolute;
                            top:10px;
                            #{$end}: 10px;
                            @media (min-width:768px) {
                                position: static !important;
                            }
                            button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border: none;
                                border: 1px solid #777;
                                background: transparent;
                                transition: .5x;
                                cursor: pointer;
                                svg {
                                    font-size: 11px;
                                    width: 18px;
                                    color: #777;
                                    fill: #777;
                                }
                                &:hover {
                                    background: #777;
                                    border: 1px solid #777;
                                    transition: .5s;
                                    transition: .5x;
                                    svg {
                                        fill:$white;
                                        color:$white;
                                        transition: .5s;
                                    }
                                }
                                
                            }
                            border-#{$end}: transparent;
                        }
                    }
                }
            }

            .whishlist-modal__product__table__select {
                label, select, option {
                    color: #777;
                }
                
            }
        }
    }
}


.compare-modal {
    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 900px !important;
        }
    }
    .modal-title {
        font-family: Open Sans,arial,serif;
        color: #8798a2;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .modal-header {
        .close {
            position: absolute;
            #{$end}: 15px;
        }
    }
    .compare-modal__product {
        .compare-modal__product__details {
            overflow-x: auto;
            table {
                
                display: block;
                tbody {
                    display: block;
                }
                tr {
                    // border-bottom: 1px solid #f5f6f6;
                    display: block;
                    td {
                        min-width: 320px;
                        position: relative;
                        padding: 10px;
                        border: 1px solid #f5f6f6;
                        border-#{$end}: 2px solid #f5f6f6;
                        span {
                            padding: 5px 10px;
                            display: block;
                            color: #222;
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                        
                        
                        &:nth-child(1) {
                            min-width: 150px;
                        }
                    }

                    
                    
                    
                }
                .features {
                    img {
                        width: 278px;
                    }
                    .features__title {
                        padding: 15px 0 5px;
                        color: #333;
                        font-size: 14px;
                    }
                    button {
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: #222;
                    }
                }
                .colors {
                    span {
                        display:inline-block;
                        width: 20px;
                        height: 20px;
                    }
                }
                .price {
                    span.pri {
                        color: #465157;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                .options {
                    label {
                        color: #8798a2;
                    }
                    select {
                        color: #8798a2;
                        option {
                            color: #8798a2;
                        }
                    }
                }
                .action {
                    input {
                        color: #222;
                        font-weight: 400;
                        width: 42px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 12px;
                            font-size: 10px;
                            color: #8798a2;
                        }
                    }
                    button {
                        background: none;
                        border: none;
                        margin-top: 10px;
                        display: inline-block;
                        padding: 0 15px;
                        background: #3b3b3b;
                        color: $white;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 38px;
                        text-align: center;
                        white-space: nowrap;
                        cursor: pointer;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}



.quick-view {
    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 900px !important;
        }
    }
    .quick-view__product {
        .background-right-qickview {
            width: 100%;
            height:100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .quick-view__product__right {
            padding-#{$start}: 1rem;
            .head {
                color: #21293c;
                font-size: 25px;
                font-weight: 600;
            }
            .star {
                display: inline-block;
                padding-#{$end}: 10px;
                padding-bottom: 13px;
                font-size: 10px;
                span {
                    opacity: .3;
                }
            }
            .par {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .005em;
                line-height: 27px;
                color: #777;
                font-family: Open Sans,arial,serif;
                padding-bottom: 15px;
            }
            .price {
                font-family: 'Oswald';
                font-weight: 400;
                color: #3b3b3b;
                font-size: 21px;
                padding-bottom: 10px;
            }
            .details {
                color: #7b858a;
                font-size: 14px;
                font-weight: 400;
                margin: 0 0 10px;
                span {
                    font-family: Open Sans,arial,serif;
                }
            }
            .size {
                h1 {
                    margin-#{$end}: 8px;
                    margin-bottom: 0;
                    color: #21293c;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: .005em;
                    line-height: 1.3;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
                span {
                    display: inline-block;
                    text-transform: uppercase;
                    height: 25px;
                    text-align: center;
                    color: #6b7478;
                    border: 1px solid #e9e9e9;
                    border-radius: 1px;
                    font-size: 11px;
                    line-height: 15px;
                    padding: 5px;
                    margin: 0 5px;
                }
                .general-sidebar__left__size {
                    pointer-events: none;
                }
            }
            .colors {
                h1 {
                    font-size:15px;
                    font-weight: 600;
                }
                .general-sidebar__left__colors {
                    pointer-events: none;
                    span {
                        display: block;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .add-product {
                display: flex;

                .general-number-product {
                    pointer-events: none;
                }
                button {
                    height: 36px;
                    margin-#{$start}: 5px;
                    padding-top: 0;
                    padding-#{$end}: 14px;
                    padding-#{$start}: 30px;
                    padding-bottom: 0;
                    border: 1px solid #ddd;
                    background: transparent;
                    font-size: 14px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    font-weight: 400;
                    font-family: 'Oswald';
                    display: flex;
                    align-items: center;
                    transition: .5s;
                    cursor: pointer;
                    &::after {
                        content: '\e87f';
                        font-family: 'porto';
                        position: absolute;
                        #{$start}: 15px;
                        top: 50%;
                        transform : translateY(-50%);
                        font-size: 15px;
                    }
                    &:hover {
                        transition: .5s;
                        background: rgba(32, 32, 32, 1);
                        color: $white;
                    }
                }
            }

            .quick-view__product__right__selected-items {
                display: flex;
                align-items: center;
                @extend .size;
            }
        }
    }
}