.check-box-info{
    h3{
        color: #141a1f;
        font-weight: 300;
        font-family: "poppins",sans-serif;
        border-bottom: 1px solid #c1c1c1;
        font-size: 20px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        a{
            color: #65829d;
            font-size: 13px;
            line-height: 2;
            display: inline-block;
            position: relative;
            &:hover{
                .edit{
                    display: block;
                }
            }
        }
        .edit{
            position: absolute;
            width: 40px;
            height: 22px;
            display: inline-block;
            background: $white;
            top: 22px;
            border: 1px solid #000;
            line-height: 1.5;
            text-align: center;
            color: #000;
            text-transform: capitalize;
            display: none;
        }
    }
        .info{
            color: #646a70;
        font-size: 13px;
        line-height: 2;
        font-family: "poppins",sans-serif;
        }
}