.genetal-payment {
    form {
        .form-control {
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
        }
        input[type="submit"] {
            width: 100%;
            @media (min-width: 992px) {
                width:80%;
            }
            background: #222;
            color: $white;
            cursor: pointer;
            text-align: center;
        }
    }
}
