.preload {
    width:100%;
    height:100%;
    background:$white;
    position: fixed;
    top:0;
    #{$start}:0;
    #{$end}:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5555;

    .sk-three-bounce {
        margin: auto;
        text-align: center;
    
        .sk-child {
            width: 15px;
            height: 15px;
            background-color: #ddd;
            
            border-radius: 100%;
            display: inline-block;
            animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
        }
    
        .sk-bounce-1 {
            animation-delay: -0.32s;
        }
        .sk-bounce-2 {
            animation-delay: (-0.32s / 2);
        }
    }

}




@keyframes sk-three-bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}



