 
.general-table {
    overflow:auto;
    div.dataTables_wrapper div.dataTables_length label {
        font-size:.9rem !important;
    }
    div.dataTables_wrapper div.dataTables_length select {
        width:70px !important;
    }
    margin-top: 2rem;

    .table-edit {
        tr {
            font-size: 12px;
            border-bottom: 1px solid #ddd;

            

            th {
                color: #555;
                font-family: 'Oswald', Arial, Helvetica, sans-serif;
                font-weight: 400;
                background: #fefefe !important;
                border-bottom: 4px solid #33b5e5;
                font-size: 14px;
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            td {
                border: none;
                vertical-align: middle;
                text-align: left;
            }
            
            


            
        }

    }
}






@media only screen and (max-width: 991px) {

    .table-section .general-table .table-edit .row-edit {
        border: none;
    }

    /* Force table to not be like tables anymore */
    .general-table {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            #{$end}: -9999px;
        }

        

        tr:nth-child(odd) {
            background: #222;
            border-radius: 5px;

            td {
                text-align: right;
                color: $white !important;
            }
        }
        tr:nth-child(even) {
            background:  #f1efefa6;
            border-radius: 5px;

        }

        td{
            position: relative;

        }
        tbody td{
            font-size: 12px;
        }
        

        td:before {
            position: absolute;
            content: attr(data-label);
            #{$start}: 20px;
            width: 35%;
            white-space: nowrap;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: .5px;
            text-align: $start;
        }
    }
    .general-table .table-edit .row-edit{
        border-bottom: none;
        margin-bottom: 0;
    }
    
    .general-table .table-edit .row-edit:nth-child(odd) td{
        border-bottom: 0.5px solid #5f5f5f;
        &:last-of-type{
            border-bottom: none;
        }
    }
    .general-table .table-edit .row-edit:nth-child(even) td{
        border-bottom: 0.5px solid #dcdbdbfa;
        &:last-of-type{
            border-bottom: none;
        }
    }
    .general-table .table-edit .row-edit td:last-of-type{
        justify-content: center !important;
    }
    
    
    

  
}